@font-face {
	font-family: 'mb-icons';
	src: url('../master_layout_fonts/mb-icons5f37.eot?42833520');
	src: url('../master_layout_fonts/mb-icons.eot#iefix') format('embedded-opentype'), url('../master_layout_fonts/mb-icons5f37.woff?42833520') format('woff'), url('../master_layout_fonts/mb-icons5f37.ttf?42833520') format('truetype'), url('../master_layout_fonts/mb-icons5f37.svg?42833520#mb-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="fa-"]:before,
[class*=" fa-"]:before,
.b-arrow-prev div,
.b-arrow-next div {
	font-family: "mb-icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}

/* Neuheitenreport (inkl. D0257) */
#content .page-navigation li.newsreport-filter label span.newsreport-filter-icon,
#content .page-navigation li.newsreport-select a span.newsreport-filter-icon{
    font-family: "mb-icons";
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1em;
}

/* Sharing (Shariff) */
.fa-xing:before { content: '\45'; } /* 'E' */
.fa-google-plus:before { content: '\e800'; } /* '' */
.fa-facebook-f:before { content: '\e801'; } /* '' */
.fa-twitter:before { content: '\e802'; } /* '' */
.fa-mail:before { content: '\e803'; } /* '' */
.fa-linkedin-in:before { content: '\43'; } /* 'C' */

/* Side Panel SSS Newsletter */
.icon-side-mail:before { content: '\29'; } /* '' */

/* Side Panel BUS2BUS Youtube */
.icon-side-youtube:before { content: '\44'; } /* 'D' */

/* Icons im normalen Content (z.B. als Highlight-Link) */
.icon-ticket:before { content: '\39'; padding-right: 1.7em;} /* '9' */
.icon-video:before { content: '\58'; padding-right: 1.7em;} /* 'X' */
.icon-download:before { content: '\38'; } /* '8' */
.icon-grounds:before { content: '\47'; } /* 'G' */
.icon-ifa-apps:before { content: '\48'; } /* 'H' */
.icon-travel:before { content: '\49'; } /* 'I' */
.icon-stand:before { content: '\50'; } /* 'P' */
.icon-call:before { content: '\52'; } /* 'R' */
.icon-times:before { content: '\53'; } /* 'S' */
.icon-faq:before { content: '\54'; } /* 'T' */
.icon-specials:before { content: '\55'; } /* 'U' */
.icon-calendar:before { content: '\56'; } /* 'V' */
.icon-camera:before { content: '\e83c'; } /* 'î ¼' */
.icon-side-search:before { content: '\37'; } /* '7' */

.icon-logo_mb:before { content: '\21'; } /* '!' */
.icon-menu:before { content: '\22'; } /* '&quot;' */
.icon-gallery-left:before { content: '\23'; } /* '#' */
.icon-list:before { content: '\25'; } /* '%' */
.icon-link-up:before { content: '\26'; } /* '&amp;' */
.icon-link-down:before { content: '\27'; } /* ''' */
.icon-link-download:before { content: '\28'; } /* '(' */
.icon-link-email:before { content: '\29'; } /* ')' */
.icon-link-event:before { content: '\2a'; } /* '*' */
.icon-link-left:before { content: '\2b'; } /* '+' */
.icon-link-print:before { content: '\2c'; } /* ',' */
.icon-event-list:before { content: '\2d'; } /* '-' */
.icon-event-add:before { content: '\2e'; } /* '.' */
.icon-event-delete:before { content: '\2f'; } /* '/' */
.icon-event-import:before { content: '\30'; } /* '0' */
.icon-link-right:before { content: '\32'; } /* '2' */
.icon-gallery-right:before { content: '\33'; } /* '3' */
.icon-gallery-zoom:before { content: '\34'; } /* '4' */
.icon-message:before { content: '\36'; } /* '6' */
.icon-search:before { content: '\37'; } /* '7' */
.icon-side-download:before { content: '\38'; } /* '8' */
.icon-side-ticket:before { content: '\39'; } /* '9' */
.icon-news-up:before { content: '\3a'; } /* ':' */
.icon-news-down:before { content: '\3b'; } /* ';' */
.icon-news-left:before { content: '\3c'; } /* '&lt;' */
.icon-news-right:before { content: '\3d'; } /* '=' */
.icon-file-ppt:before { content: '\3e'; } /* '&gt;' */
.icon-file-doc:before { content: '\3f'; } /* '?' */
.icon-file-pdf:before { content: '\40'; } /* '@' */
.icon-event-sort:before { content: '\41'; } /* 'A' */
.icon-event-add-active:before { content: '\42'; } /* 'B' */
.icon-linkedin:before { content: '\43'; } /* 'C' */
.icon-youtube-play:before { content: '\44'; } /* 'D' */
.icon-xing:before { content: '\45'; } /* 'E' */
.icon-instagramm:before { content: '\46'; } /* 'F' */
.icon-side-grounds:before { content: '\47'; } /* 'G' */
.icon-side-ifa-apps:before { content: '\48'; } /* 'H' */
.icon-side-travel:before { content: '\49'; } /* 'I' */
.icon-travel-supply:before { content: '\4a'; } /* 'J' */
.icon-travel-train:before { content: '\4b'; } /* 'K' */
.icon-travel-hotel:before { content: '\4c'; } /* 'L' */
.icon-travel-car:before { content: '\4d'; } /* 'M' */
.icon-travel-bus:before { content: '\4e'; } /* 'N' */
.icon-travel-plane:before { content: '\4f'; } /* 'O' */
.icon-side-igw-stand:before { content: '\50'; } /* 'P' */
.icon-arrows-cw:before { content: '\51'; } /* 'Q' */
.icon-side-call:before { content: '\52'; } /* 'R' */
.icon-side-times:before { content: '\53'; } /* 'S' */
.icon-side-faq:before { content: '\54'; } /* 'T' */
.icon-side-specials:before { content: '\55'; } /* 'U' */
.icon-side-calendar:before { content: '\56'; } /* 'V' */
.icon-travel-shuttle:before { content: '\57'; } /* 'W' */
.icon-video:before { content: '\58'; } /* 'X' */
.icon-filter-europe:before { content: '\5b'; } /* '[' */
.icon-filter-world:before { content: '\5d'; } /* ']' */
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\44'; } /* 'D' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-gallery-close:before { content: '\e805'; } /* '' */
.icon-subnavi:before { content: '\e806'; } /* '' */
.icon-event-info:before { content: '\e807'; } /* '' */
.icon-star-favorite:before { content: '\e83a'; } /* '' */
.icon-link-info:before { content: '\e83b'; } /* '' */
.icon-side-camera:before { content: '\e83c'; } /* '' */
.icon-side-podcast:before { content: '\e845'; } /* '' */
.icon-event-add-star:before { content: '\e872'; } /* '' */
.icon-filter-delete:before { content: '\e873'; } /* '' */
