/* ========================================================
   Master Layout (Tablet > 768px), Version 0.80
   --------------------------------------------------------
   AgenturWebfox
   ======================================================== */

/* Global */
.page-wrap {
    width: auto;
    float: none;
}

.container {
	max-width: 718px;
}

main {
	padding-top: 20px;
}

/* Visibility */
.visible-tablet-up {
    display: block!important;
}

.hidden-tablet-up  {
    display: none!important;
}

/* -------------------------------------------------------- */
/* Adverts Banner */
#ad-banner-top {
    padding: 0 0 0.4em 0;
}

/* -------------------------------------------------------- */

/* Aside (Side Panel) */
aside {
    position: fixed;
    z-index: 5000;
    top: 200px;
    right: 0;
    width: 40px;
    height: auto;
    padding-right: 0;
}

aside ul {
    padding-top: 0;
}

aside ul li {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

aside ul li a {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 0.65em;
    overflow: hidden;
}

.link-aside-home-text,
.link-aside-text {
    display: none;
}

aside [class^="icon-"]:before,
aside [class*=" icon-"]:before {
    display: block;
    width: 40px;
    margin: 0;
    padding: 14px 0 4px 0;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
}

.icon-side-home {
    display: block;
    width: auto;
    height: auto;
    padding: 9px 7px 7px 11px;
}

.icon-side-home-item {
    width: 5px;
    height: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
}

/* -------------------------------------------------------- */
/* Seitenwechsel-Navigation */
.nav-switch-bottom {
	display: none;
}

.nav-switch-top {
	display: block;
}

.nav-switch-page {
	text-align: left;
	margin-top: -8px;
}

.nav-switch-page li {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

/* -------------------------------------------------------- */
/* Fullsize-Layout */
.contentarea__background-tablet {
	display: block;
}

/* -------------------------------------------------------- */
/* Grid */
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-12,
.col-tablet-3,
.col-tablet-6,
.col-tablet-9,
.col-tablet-12 {
    padding-right: 1.5%;
    padding-left: 1.5%;
}

.col-2 {
    width: 30.333333333333336%;
}

.col-3,
.col-4,
.col-5,
.col-6 {
    width: 47%;
}

.col-7,
.col-8,
.col-9,
.col-10,
.col-12 {
    width: 97%;
}

.col-2 .col-borderless {
    width: 33.333333333333336%;
}

.col-3 .col-borderless,
.col-4 .col-borderless,
.col-5 .col-borderless,
.col-6 .col-borderless {
    width: 50%;
}

.col-7 .col-borderless,
.col-8 .col-borderless,
.col-10 .col-borderless,
.col-12 .col-borderless {
    width: 100%;
}

.col-tablet-12 {
    width: 97%;
}

.col-tablet-9 {
    width: 72%;
}

.col-tablet-6 {
    width: 47%;
}

.col-tablet-3 {
    width: 22%;
}

/* -------------------------------------------------------- */
/* Images */
.col-8 .textimage-headline,
.col-10 .textimage-headline,
.col-12 .textimage-headline {
    padding-top: 0.3em;
}

.col-8 .textimage-left-float,
.col-10 .textimage-left-float,
.col-12 .textimage-left-float {
    clear: both;
    float: left;
    max-width: 47%;
    padding-right: 3%;
}

.col-8 .textimage-right-float,
.col-10 .textimage-right-float,
.col-12 .textimage-right-float {
    clear: both;
    float: right;
    max-width: 47%;
    padding-left: 3%;
}

.col-8 .textimage-left-text,
.col-10 .textimage-left-text,
.col-12 .textimage-left-text {
    float: left;
    max-width: 47%;
    padding-left: 3%;
}

.col-8 .textimage-left-img,
.col-10 .textimage-left-img,
.col-12 .textimage-left-img {
    float: left;
    max-width: 48.4%; /* 47%; */
}

.col-8 .textimage-right-text,
.col-10 .textimage-right-text,
.col-12 .textimage-right-text {
    float: left;
    max-width: 47%;
    padding-right: 3%;
}

.col-8 .textimage-right-img,
.col-10 .textimage-right-img,
.col-12 .textimage-right-img {
    float: right;
    max-width: 48.4%; /* 47%; */
}

/* -------------------------------------------------------- */
/* Links */

/* Tooltipp-Link */
a.cursor-default {
    cursor: default;
}

/* -------------------------------------------------------- */
/* Highlight Elements */

/* Highlight */
.col-highlight div.textimage-above:last-child {
    padding-bottom: 1.8em;
}

/* Highlight Links */
#content p a.link-highlight-block {
    width: 93.5%;
}

/* -------------------------------------------------------- */
/* Forms: Inline Grid */
.form-elements {
    padding: 1.2em 0 0.4em 16px;
}

.form-buttons {
    padding: 1.2em 0 0.4em 0;
}

.col-12 .form-control,
.col-10 .form-control,
#content .col-10 p.help-block,
.col-9 .form-control,
#content .col-9 p.help-block,
.col-8 .form-control,
#content .col-8 p.help-block {
    width: 654px;
}

.col-6 .form-control,
#content .col-6 p.help-block,
.col-4 .form-control,
#content .col-4 p.help-block,
.col-3 .form-control,
#content .col-3 p.help-block   {
    width: 296px;
}

/* Forms: Inline Floating */
.form-group {
    width: auto;
    padding-right: 16px;
}

.form-col-6 .form-group,
.form-col-4 .form-group {
    float: left;
}

/* two cols */
.form-col-6 .form-group,
.col-10 .form-col-6 .form-group,
.col-9 .form-col-6 .form-group,
.col-8 .form-col-6 .form-group {
    width: 324px;
}
.form-col-6 .form-group .form-control,
.col-10 .form-col-6 .form-group .form-control,
.col-9 .form-col-6 .form-group .form-control,
.col-8 .form-col-6 .form-group .form-control,
#content .form-col-6 .form-group p.help-block,
#content .col-10 .form-col-6 .form-group p.help-block,
#content .col-9 .form-col-6 .form-group p.help-block,
#content .col-8 .form-col-6 .form-group p.help-block {
    width: 314px;
}

/* three cols */
.form-col-4 .form-group {
    width: 319px;
}
.form-col-4 .form-group .form-control,
#content .form-col-4 .form-group p.help-block {
    width: 309px;
}

.col-10 .form-col-4 .form-group,
.col-9 .form-col-4 .form-group,
.col-8 .form-col-4 .form-group {
    width: 324px;
}
.col-10 .form-col-4 .form-group .form-control,
.col-9 .form-col-4 .form-group .form-control,
.col-8 .form-col-4 .form-group .form-control,
#content .col-10 .form-col-4 .form-group p.help-block,
#content .col-9 .form-col-4 .form-group p.help-block,
#content .col-8 .form-col-4 .form-group p.help-block {
    width: 314px;
}

/* two + three cols */
.col-6 .form-col-4 .form-group,
.col-6 .form-col-6 .form-group,
.col-4 .form-col-6 .form-group,
.col-4 .form-col-4 .form-group,
.col-3 .form-col-6 .form-group,
.col-3 .form-col-4 .form-group {
    width: 305px;
}
.col-6 .form-col-4 .form-group .form-control,
.col-6 .form-col-6 .form-group .form-control,
.col-4 .form-col-6 .form-group .form-control,
.col-4 .form-col-4 .form-group .form-control,
.col-3 .form-col-6 .form-group .form-control,
.col-3 .form-col-4 .form-group .form-control,
#content .col-6 .form-col-4 .form-group p.help-block,
#content .col-6 .form-col-6 .form-group p.help-block,
#content .col-4 .form-col-6 .form-group p.help-block,
#content .col-4 .form-col-4 .form-group p.help-block,
#content .col-3 .form-col-6 .form-group p.help-block,
#content .col-3 .form-col-4 .form-group p.help-block {
    width: 295px;
}

/* -------------------------------------------------------- */
/* First Content Align */
div.first-content:not(.col-highlight) h3:first-child,
div.first-content:not(.col-highlight) h4:first-child,
div.first-content:not(.col-highlight) h5:first-child,
div.first-content:not(.col-highlight) p:first-child,
div.first-content:not(.col-highlight) li:first-child,
div.first-content:not(.col-highlight) table:first-child,
div.first-content:not(.col-highlight) .textimage-left-float + h3,
div.first-content:not(.col-highlight) .textimage-left-float + h4,
div.first-content:not(.col-highlight) .textimage-left-float + h5,
div.first-content:not(.col-highlight) .textimage-left-float + p,
div.first-content:not(.col-highlight) .textimage-left-float + li,
div.first-content:not(.col-highlight) .textimage-left-float + table,
div.first-content:not(.col-highlight) .textimage-right-float + h3,
div.first-content:not(.col-highlight) .textimage-right-float + h4,
div.first-content:not(.col-highlight) .textimage-right-float + h5,
div.first-content:not(.col-highlight) .textimage-right-float + p,
div.first-content:not(.col-highlight) .textimage-right-float + li,
div.first-content:not(.col-highlight) .textimage-right-float + table,
div.first-content .mi24 {
    padding-top: 0;
}

.first-content.col-highlight,
.first-content .table-responsive {
    margin-top: 0;
}

#content .first-content h3.highlight:first-child,
#content .first-content h4.highlight:first-child {
    margin-top: 0;
}

.col-highlight div.textimage-above:last-child {
    padding-bottom: 1.8em;
}

#content div.first-content:not(.col-highlight) p:first-child,
#content div.first-content:not(.col-highlight) ul:first-child {
    padding-top: 0;
}

/* Tablet min-height */
.tablet-min-height-200 {
	min-height: 200px;
}

.tablet-min-height-225 {
	min-height: 225px;
}

.tablet-min-height-250 {
	min-height: 250px;
}

.tablet-min-height-275 {
	min-height: 275px;
}

.tablet-min-height-300 {
	min-height: 300px;
}

.tablet-min-height-325 {
	min-height: 325px;
}

.tablet-min-height-350 {
	min-height: 350px;
}

.tablet-min-height-375 {
	min-height: 375px;
}

.tablet-min-height-400 {
	min-height: 400px;
}

.tablet-min-height-450 {
	min-height: 450px;
}

.tablet-min-height-500 {
	min-height: 500px;
}

.tablet-min-height-600 {
	min-height: 600px;
}

.tablet-min-height-650 {
    min-height: 650px;
}

.tablet-min-height-700 {
	min-height: 700px;
}

.tablet-min-height-750 {
    min-height: 750px;
}

/* -------------------------------------------------------- */
/* Components */

/* Shariff-Buttons */
.shariff li .fab {
    display: inline-block;
}

.shariff li .share_text {
    padding-right: 1em;
}

/* ========================================================
   Widgets
   ======================================================== */

/* Tab-Navigation */

#content .ui-tabs .ui-tabs-panel {
    padding: 0.8em 0 1em 0;
}

/* Accordeon-Navigation */
.ui-accordion .ui-accordion-content .row:first-child {
    padding-top: 1em;
}

.accordion-category {
    display: inline;
    width: auto;
    margin: -0.5em 0 0.4em -2%;
    margin: 0 2% 0 -2.2%;
    padding: 0.6em 2.2%;
}

/* Zitat-Animation */
.quotation {
    padding: 5px;
}

.quotation-button {
    width: 6%;
}

.quotation-content {
    width: 88%;
}

.col-6 .quotation-button {
    width: 13%;
}

.col-6 .quotation-content {
    width: 74%;
}

.quotation-content-item {
    padding: 4px 0;
}

/* Blätterkatalog */
.pageflip-container-col-6 {
    height: 175px;
}

.pageflip-container-col-8 {
    height: 428px;
}

.pageflip-container-col-9 {
    height: 428px;
}

.pageflip-container-col-12 {
    height: 428px;
}

.pageflip-square .pageflip-container-col-12,
.pageflip-square .pageflip-container-col-9,
.pageflip-square .pageflip-container-col-8 {
    height: 303px;
}

.pageflip-square .pageflip-container-col-6 {
    height: 124px;
}

.pageflip-dinlang .pageflip-container-col-12,
.pageflip-dinlang .pageflip-container-col-9,
.pageflip-dinlang .pageflip-container-col-8 {
    height: 605px;
}

.pageflip-dinlang .pageflip-container-col-6 {
    height: 247px;
}

.pageflip-dinlangquer .pageflip-container-col-12,
.pageflip-dinlangquer .pageflip-container-col-9,
.pageflip-dinlangquer .pageflip-container-col-8 {
    height: 145px;
}

.pageflip-dinlangquer .pageflip-container-col-6 {
    height: 59px;
}

.pageflip-dinlangquer .pageflip-container-col-6 .booklet .b-arrow div {
    top: 20%;
}

/* Aktuelles (NGN) */
.ngn-widget iframe {
    height: 296px!important;
}

/* Ticket Button */
.ticketlink .ticketlink-box {
    min-height: 172px;
}

.ticketlink .step {
    float: left;
}

.ticketlink .step-description {
    margin-left: 0;
}

.ticketlink .arrow-down-box-square {
    margin-right: 20px;
}

.ticketlink .arrow-down-box {
    float: left;
}

.ticketlink .stage {
    padding-left: 30px;
}

.ticketlink .arrow-right-box a {
    margin-right: 0;
    margin-left: 0;
    font-size: 35px;
}

.ticketlink .arrow-right-box div.box-link {
    padding-left: 50px;
    padding-right: 10px;
    margin-right: 90px;
    padding-left: 10px;
}

.ticketlink .arrow-down-tip {
    float: left;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #000;
}

#content .ticketlink .steps ul li {
    padding-right: 10px;
}

#content .ticketlink .steps ul li .step-description {
    font-size: 1.1em;
}

/* Animation grow */
.image-grow .textimage-img {
  	overflow: hidden;
}

.image-grow:hover > img,
.image-grow .textpic:hover img {
	transform: scale(1.03);
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.image-grow > img,
.image-grow .textpic img {
	   transition: all .4s;
}





/* Text Align Middle */
.text-align-middle {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.text-align-middle.text-align-left{
    justify-content: start;
    -ms-flex-pack: start;
}

/* SquareBox */
.col-2 .squarebox {
	min-height: 218px;
}

.col-3 .squarebox,
.col-4 .squarebox,
.col-6 .squarebox,
.col-6 .next-to-squarebox img {
	min-height: 337px;
}

.col-6 .next-to-squarebox .textimage-img {
	width: 337px;
	overflow:hidden;
}

.col-6 .next-to-squarebox img {
	max-width: inherit;
}

/* Video Ratio */
.video-ratio-169 {
	max-width: 100%;
	padding-bottom: 43%;
}

/* ========================================================
   Dynamic Tempates
   ======================================================== */

/* Gallery */
.gallery-thumb,
.gallery-thumb-small  {
    width: 102px;
    height: 102px;
    margin-right: 14px;
    margin-bottom: 14px;
}

.gallery-thumb img.gallery-thumb-landscape,
.gallery-thumb-small img.gallery-thumb-landscape {
    max-height: 102px;
}

.gallery-thumb img.gallery-thumb-portrait,
.gallery-thumb-small img.gallery-thumb-portrait {
    max-width: 102px;
}

.col-highlight .gallery-thumb,
.col-highlight .gallery-thumb-small{
    margin-bottom: 11px;
    margin-right: 11px;
}

/* Press Photos */
.pressphoto-img {
    width: 200px;
    height: 113px;
}

.pressphoto-text {
    font-size: 0.86em;
}

/* Press Releases */
.pressreleases-archive-button-top {
    padding-bottom: 0.8em;
}

.pressreleases-item {
    float: left;
    width: 43%;
    min-height: 240px;
    margin: 2% 0 0 2%;
    background-color: #e9e9e9;
}

.pressreleases-details-date {
    padding-top: 0.3em;
}

#content .ui-tabs.pressreleases .ui-tabs-panel {
    padding-top: 0;
}

.pressreleases-archive-item {
    padding-bottom: 1%;
}

.pressreleases-date,
.pressreleases-archive-date,
#content .pressreleases-item h3,
#content .pressreleases-archive-item h3 {
    font-weight: bold;
}

#content p.pressreleases-description {
    padding-top: 0.6em;
}

.pressreleases-icon {
    float: none;
    margin: 7px 0;
    height: 64px;
}

.pressreleases-icon img {
    height: auto;
}

.pressreleases-category {
    min-height: 1.6em;
    font-style: italic;
    font-weight: bold;
}

/* Press Dates */
.pressdates-headline {
    text-transform: uppercase;
    font-weight: bold;
}

.pressdate-headline-time,
.pressdate-headline-info {
    float: left;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.pressdate-time,
.pressdate-title {
    float: left;
}

.pressdate-time,
.pressdate-headline-time {
    width: 23%;
    padding-right: 1%;
    padding-left: 1%;
}

.pressdate-title,
.pressdate-headline-info {
    width: 75%;
}

.pressdate-location,
.pressdate-description {
    width: 75%;
    padding-left: 25%;
}

/* Neuheitenreport */
.newsreport-no-headline{
    padding-top: 1rem;
}

.newsreport-item .textimage-right-float {
    display: block;
    position: relative;
}

.newsreport-item .icon-gallery-zoom:before {
    top: 6px;
    right: 5px;
}

.newsreport-search-form fieldset {
    width: 87%;
}

#content .newsreport-search .newsreport-search-button {
    width: 10%;
}

/* Partner-Ansicht */
.partner-item .item-content-wrapper,
.control-item .item-content-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 97%;
}

.row-inline {
    margin-left: -1.5%;
    margin-right: -1.5%;
}

.col-tablet-4 {
    width: 30.333333333333336%;
}

.col-tablet-8 {
    width: 63.66666666666666%;
}

/* Sitemap */
#content .sitemap ul.sitemap-level1 li {
    float: left;
    width: 49.75%;
}

#content .sitemap ul.sitemap-level1 li.sitemap-level1-1,
#content .sitemap ul.sitemap-level1 li.sitemap-level1-3 {
    margin-right: 0.5%;
}

#content .sitemap ul.sitemap-level1 li.sitemap-level1-3,
#content .sitemap ul.sitemap-level1 li.sitemap-level1-4,
#content .sitemap ul.sitemap-level1 li.sitemap-level1-5 {
    margin-top: 1em;
}

#content .sitemap ul.sitemap-level2 li,
#content .sitemap ul.sitemap-level3 li {
    width: 100%;
}

/* Downloadcenter */
.downloadcenter-item {
    float: left;
    width: 48%;
    padding-right: 2%;
}

/* AV Application */
.av-img {
    text-align: right;
    padding-top: 0.2em
}

.av-tablet-spacer-4 {
    margin-left: 25%;
}

/* ePDF */
.epdf-step {
    float: left;
}

.epdf-step1-active {
    width: 41%;
    padding-left: 4%;
}

.epdf-step1-inactive {
    width: 44%;
    padding-left: 4%;
}

.epdf-step2-active {
    width: 44%;
    padding-left: 5%;
}

.epdf-step2-inactive {
    width: 44%;
    padding-left: 8%;
}

.epdf-description {
    clear: both;
}

/* Hotel List, Service List */
.servicelist-entry-right,
.hotellist-entry-right {
    float: right;
    width: 50%;
}

.servicelist-entry-left,
.hotellist-entry-left {
    float: left;
    width: 50%;
}

.textimage-left-placeholder {
    width: 48.5%;
    float: right;
}

/* Website Guide */
.websiteguide__listitem {
	flex-basis: 46%;
}

/* ========================================================
   Event Database
   ======================================================== */

/* Event Database Grid */
.row .eventdb-main .row {
    margin-left: -10.7667px;
    margin-right: -10.7667px;
}

/* Search Result */
.eventdb-search-result-odd {
    clear: both;
}

/* Event Highlights / Events Memo List */
.eventdb-highlights-item,
.eventdb-memolist-item {
    padding-top: 1.2em;
}

.eventdb-highlights-item-first,
.eventdb-memolist-item-first {
    padding-top: 0;
}

#content .eventdb-highlights-title h4,
#content .eventdb-memolist-description h4  {
    padding-top: 0.4em;
}

.eventdb-highlights-item-line,
.eventdb-memolist-item-line {
    width: 97%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    border-bottom: 1px solid;
}

.eventdb-highlights-item-last .eventdb-highlights-item-line,
.eventdb-memolist-item-last .eventdb-memolist-item-line {
    border-bottom: none;
}

/* Event Detail */
.eventdb-details-picture {
    float: left;
    width: 50%;
    padding-top: 0.7em;
    padding-right: 3%;
}

.eventdb-details-picture-below {
    padding-right: 0;
    padding-top: 0;
    margin-left: 1em;
}

.eventdb-details-info {
    float: left;
    width: 47%;
}

.eventdb-details-subevent .textimage-right-text {
    float: left;
    max-width: 75%;
}
.eventdb-details-subevent .textimage-right-img {
    float: right;
    max-width: 22%;
}

.eventdb-details-subevent .eventdb-catchword {
    clear: both;
}

.eventdb-catchword a:hover {
	text-decoration: none;
}

.eventdb-details-subevent-box {
    float: left;
    width: 48.5%;
}

.eventdb-details-subevent-box-odd {
    clear: both;
    margin-right: 1.5%;
}

.eventdb-details-subevent-box-even {
    margin-left: 1.5%;
}

.eventdb-details-speaker-box {
    float: left;
    width: 30.5%;
    padding-right: 2.8%;
}

.eventdb-details-speaker-box .icon-gallery-zoom::before {
    right: 5px;
    top: 12px;
}

.eventdb-catchword a {
	background-color: #fff;
}

.eventdb-catchword a:hover {
	background-color: #019de2;
	color: #fff;
}

/* Event Icons */
#content .eventdb-search-result-icons,
#content .eventdb-highlights-icons,
#content .eventdb-memolist-icons,
#content .eventdb-details-icons {
    padding: 1em 0 1.5em 0;
}

/* Event Speakers List */
.eventdb-speakers-list-item {
    border-bottom: 1px solid;
}

.eventdb-speakers-list-col {
    float: left;
    padding: 0.2em 1.5%;
}

.eventdb-speakers-list-col1 {
    width: 30.3333%;
}

.eventdb-speakers-list-col2 {
    width: 63.3333%;
}

.eventdb-speakers-list-col3 {
    width: 63.3333%;
    margin-left: 33.3333%;
}

#content .speakerlistimg-item p {
	text-align: center;
}

#content .speakerlistimg-item h3 {
	font-size: 1.5em;
	padding-top: 1em;
	text-align: center;
}

#content ul.speakerlistimg-list > li {
	padding-right: 0;
}

#content .col-2.speakerlistimg-item .image-grow .textimage-img {
	max-height: 147px;
}

#content .col-3.speakerlistimg-item .image-grow .textimage-img {
	max-height: 340px;
}

#content .col-4.speakerlistimg-item .image-grow .textimage-img {
	max-height: 339px;
}

/* Event Speakers Details */
.eventdb-speakers-details-img {
    display: block;
    position: relative;
}

.eventdb-speakers-details-img .icon-gallery-zoom:before {
    right: 14px;
}

/* Event Registration */
.eventregistration-col8 {
    clear: both;
}

.eventregistration-col4,
.eventregistration-col6 {
    float: left;
    width: 48%;
}

.eventregistration-dates {
    border-top: none;
}

#content ul.eventregistration-dates__day {
  flex-direction: row;
  flex-wrap: wrap;
}

#content li.eventregistration-dates__slot {
    flex: 0 1 48%;
}

/* Event Accordion */
#content .eventdb-accordion__item__head {
    display: flex;
    min-height: 48px;
}

#content .eventdb-accordion__item__head__time {
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 16px 100%;
    border-bottom-width: 0;
}

#content .eventdb-accordion__item__head__time {
    padding: 0 0.8rem;
    width: 7.4rem;
    height: 48px;
    display: flex;
    align-items: center;
}

#content .eventdb-accordion__item__head__title {
    padding-left: 0.8rem;
    width: 93%;
}

div.first-content:not(.col-highlight) h3.eventdb-accordion__item__details__title:first-child {
    padding-top: 0.8rem;
}

/* ========================================================
   Event Calendar
   ======================================================== */

/* Datepicker */
#content .tab-navigation .calendar .ui-datepicker-multi-3 {
    width: 97%!important;
    margin-left: 1%!important;
    margin-right: 1%!important;
}

#content .tab-navigation .calendar .ui-datepicker-multi-3 .ui-datepicker-group {
    clear: none;
    width: 32%;
}

#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-buttonpane {
    margin-left: 38%;
}

#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-prev span.ui-icon,
#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-next span.ui-icon {
    margin-left: -15px;
    margin-top: -10px;
}

#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-prev {
    left: -39px;
}

#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-next {
    right: -39px;
}

#content .tab-navigation .calendar td.undefined span.ui-state-default,
#content .tab-navigation .calendar td.undefined a.ui-state-default {
    border-color: #fff;
}

/* Calendar Entries */
.cal-item {
    border-top: none;
    background-color: #e9e9e9;
    float: left;
    margin: 1% 1% 0 0;
    padding: 1%;
    min-height: 340px;
    width: 47.5%;
}

.cal-item-1,
.cal-item-3 {
    margin-right: 0;
}

.cal-list-item {
    padding: 0 0 0.4em 0;
}

.cal-list-date,
.cal-list-event,
.cal-list-icons {
    float: left;
    padding: 0;
}

.cal-list-date {
    width: 28%;
}

.cal-list-event {
    width: 60%;
}

.cal-list-icons {
    width: 12%;
    text-align: right;
}

.cal-img {
    width: 321px;
    height: 161px;
    max-width: auto;
    max-height: auto;
}

/* ========================================================
   Newsletter
   ======================================================== */

/* -------------------------------------------------------- */
/* Universal Messenger Forms */
.pi-form {
	padding: 1.2em 0 0.4em 16px;
	margin-top: 0.1rem;
}
.pi-form-button a {
	margin-left: 0;
	webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
}
.pi-form-control {
	margin-right: 15px;
}
.pi-form-helptext {
	margin-bottom: .65rem;
}

/* ========================================================
   GSA Search
   ======================================================== */

/* -------------------------------------------------------- */
/* Tile (Navigation Level 2) */
.nav-level2-search #search-suggestions li {
    display: block !important;
    float: none !important;
    border: 0 !important;
    border-bottom: solid 1px !important;
    padding:4px 0 4px .2em !important;
    width: 95% !important;
    height: auto !important;
}

.nav-level2-search .tile-search-inner {
    padding: inherit;
    top: 0;
    left: 0;
    border: 1px solid;
}

.tile .tile-search-icon {
    min-height: 97px;
    margin: 17px auto;
}

.nav-level2-search .tile-search-icon {
    min-height: 46px;
    margin: 17px auto 7px auto;
}

.nav-level2-search .tile-search-content {
    padding: 10px 0 0 0;
}

.nav-level2-search .tile-search-content h3 {
    padding: 6px 0 6px .2em;
    width: 95%;
}

/* Suggestions */
.tile .tile-search-content h3 {
    padding: 8px 0.15em 8px 0.4em;
}

/* -------------------------------------------------------- */
/* Search Page */
#content .gsa-content-search-input {
    width: 74.5%;
}

#content #gsa-content-search-select {
    width: 24.5%;
    margin-top: 0;
}

#content .gsa-content-search fieldset {
    width: 93%;
}

#content .gsa-content-search-button {
    width: 5%;
    height: auto;
    margin-left: 2%;
    font-size: 1.6em;
}

#content #gsa-content-search-select,
#content .gsa-content-search-option {
    padding-left: 0.3em;
}

.gsa-result-info {
    padding: 0.3em 0;
    text-align: right;
}

.gsa-keymatches,
.gsa-results {
    padding-top: 1.2em;
}

.gsa-keymatch,
.gsa-result {
    border-bottom: none;
    padding: 0.8em 0;
}

.gsa-page-navigation {
    padding: 1.2em 0;
}

#content .gsa-content h3 {
    font-size: 1.4em;
}

#content .gsa-page-navigation li {
    padding-right: 0.6em;
}

/* ========================================================
   External Content
   ======================================================== */

/* -------------------------------------------------------- */
/* BusinessWire */

#content #bwContent,
#content #bwContent .bwOpk {
    width: 698px;
    max-width: 698px;
}

#content #bwContent .bwOpk {
    padding-top: 5em;
}

/* ========================================================
   Home
   ======================================================== */

.home #nav-main {
    padding-top: 30px;
    padding-bottom: 25px;
}

#tiles-section {
    width: 100%;
}

.tile,
#tile-3 {
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

#tile-1 {
    margin-right: 0;
}

.tile-single-text {
    width: 168px;
    height: 168px;
}

.tile-single-image {
    width: 170px;
    height: 170px;
}

.tile-double {
    width: 345px;
/* Verkleinert, damit Zoom funktioniert (SMOI-SD000854432)
    height: 170px;*/
    height: 169px;
}

.tile-big {
    width: 345px;
    height: 345px;
}

/* ========================================================
   Home - Alternativen
   ======================================================== */

/* Doppelkachel oben links, 5 kleine Kacheln, 4 kleine Kacheln rechts (2, dt_s_s")
 * Große Kachel links, 3 kleine Kacheln, große Kachel rechts (3, b_s_b")
 * Große Kachel links, 3 kleine Kacheln, 4 kleine Kacheln rechts (4, b_s_s")
 * Doppelkachel oben links, 7 kleine Kacheln, Doppelkachel unten rechts (5, dt_s_db")
 * Große Kachel links, 5 kleine Kacheln, Doppelkachel unten rechts (6, b_s_db")
 *  */

#tiles-section-right.tiles-dt_s_s,
#tiles-section-right.tiles-b_s_s,
#tiles-section-right.tiles-dt_s_db,
#tiles-section-right.tiles-b_s_db{
    width: 350px;
    height: 350px;
    float: left;
}

.tiles-b_s_b #tile-3,
.tiles-b_s_s #tile-3,
.tiles-b_s_db #tile-3{
    margin-right: 0;
}

/* Tile Search */
#tile-search .gsa-search input {
    padding: 0.3em;
}

/* Tile Links + Counter */
a.tile-text-link,
.tile-counter {
    font-size: 1.536em;
    padding: 0 19.5px 19.5px 19.5px;
}

.tile-1row,
a.tile-1row {
    padding-top: 125px;
}

.tile-2rows,
a.tile-2rows {
    padding-top: 101px;
}

.tile-3rows,
a.tile-3rows {
    padding-top: 76px;
}

.tile-4rows,
a.tile-4rows {
    padding-top: 51px;
}

/* einzeilig */
.tiles-section-single.no-double #tile-1 {
	margin-right: 5px;
}

.tiles-section-single.no-double #tile-3 {
	margin-right: 0;
}

/* News */
.news {
    width: 335px;
    height: 335px;
    padding: 5px;
}

.news-headline {
    height: 60px;
}

.news-button {
    width: 13%;
    height: 236px;
}

.news-button button {
    height: 236px;
}

.news-content {
    width: 74%;
    height: 280px;
}

.news-content-slider {
    height: 244px;
}

.news-content-slider li {
    float: none;
    height: 72px;
    padding: 4px 0;
}

.news-noscript {
    width: 331px;
}

/* Background Video */
#bgvideo {
    bottom: 0;
    display: block;
    height: auto;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -100;
}

/* Bühne */
.stage {
	margin-bottom: 5px;
}

@supports(display: flex) {
	.stage {
		min-height: 25vw;
	}
}

.stage::before {
	content: none;
}

.stage .stage-text {
	font-size: calc(0.8em + 0.8vw);
	width: 50%;
}

@supports (display: flex) {
	.stage .stage-text { flex: 1; }
}

.stage .claim {
	font-size: 2rem;
	font-size: calc(1.2rem + 2vw);
	line-height: 1;
}

/* Darksite */
body.home--darksite {
	background-image: none !important;
}

body.home--darksite .stage .stage-text {
	background-color: hsla(0, 0%, 0%, 0.5) !important;
}

body.home--darksite .stage .stage-text p {
	color: #fff !important;
}

body.home--darksite #footer-copyright {
	color: #000 !important;
}

/* ========================================================
   Splash Page
   ======================================================== */

/* Page */
section#content-splashpage {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

/* Tiles */
#tiles-section-double {
    height: 345px;
    width: 345px;
    margin-bottom: 5px;
}

#tiles-section-single {
    height: 345px;
    width: 345px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#content-splashpage .tile-double {
    margin-right: 0;
    margin-bottom: 5px;
}

#content-splashpage #tile-search,
#content-splashpage #tile-3 {
    margin-right: 0;
}

#content-splashpage #tile-1 {
    margin-right: 5px;
}

/* ========================================================
   Colors
   ======================================================== */
#nav-level2 ul li {
    border-color: #000;
}

#nav-level2 ul li a:hover {
    background-color: #0058a1;
    color: #fff;
}

#nav-level2 ul li > span {
    background-color: #999;
    color: #fff;
}

#nav-level2 ul li.nav-level2-search {
    background-color: #0058a1;
    color: #fff;
}

/* Seitenwechsel-Navigation */
.nav-switch-page {
	background-color: #464646;
}

.nav-switch-page li a:hover{
	background-color: #464646;
	border-color: #464646;
	color: #fff;
}

.gsa-search input {
    background-color: #fff;
    color: #0058a1;
}

#nav-level3 ul li a {
    background-color: #fff;
}

#nav-level3 ul li span {
    background-color: #0058a1;
    color: #fff;
}

#content .page-navigation li a {
    background-color: #fff;
    border-color:#fff;
    color: #0058a1;
}

#content .page-navigation li span {
    background-color: #fff;
    border-color:#fff;
}

#content .highlight {
    background-color: #fff;
}

#content .ui-tabs-panel .highlight {
    background-color: #cdcdcd;
}

.col-highlight {
    background-color: #fff;
}

.form-elements {
    background: #fff;
}

#content p.help-block {
    color: #575756;
}

/* --------------------------------------------------------
   Widgets
   -------------------------------------------------------- */

/* jQuery UI */
.ui-state-active a{
    background: #fff;
    color:#057ccd;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    background: #fff;
    color: #057ccd;
}

.ui-state-hover a,
.ui-state-hover a:hover{
    color: #057ccd;
    background-color: #e9e9e9;
}

/* Tab-Navigation */
#content .ui-tabs .ui-tabs-panel {
    background: #fff;
    border-color:#fff;
}

#content ul.ui-tabs-nav .ui-state-active {
    background: #fff;
    border-color:#fff;
}

#content .tab-navigation .ui-state-hover{
    border-color:#e9e9e9;
}

#content ul.ui-tabs-nav .ui-state-active.ui-state-hover{
    border-color: #fff;
}

/* Accordion-Navigation */
.accordion-category {
    background: #057ccd url('../master_layout_images/accordion-category.png') right center no-repeat;
}

.accordion-navigation-link,
.ui-accordion .ui-accordion-header{
    border-color: #e9e9e9;
}

.ui-accordion .ui-accordion-header:hover,
.ui-accordion .ui-state-hover {
    background-color: #fff;
    border-color: #fff;
}

.ui-accordion .ui-state-active,
.ui-accordion .ui-state-active.ui-state-hover {
    border-color: #fff #fff #057ccd #fff;
}

.accordion-navigation-box{
    border-color: #fff;
}

.ui-accordion.accordion-navigation-colored .ui-accordion-header:hover,
.ui-accordion.accordion-navigation-colored .ui-state-hover {
    color: #057ccd;
}

.ui-accordion-header.ui-state-active .accordion-category,
.ui-accordion-header:hover .accordion-category {
    background: url('../master_layout_images/accordion-category-active.png') right center no-repeat;
}

#content .quotation button:hover{
    background-color: transparent;
}

.quotation button:hover .icon-news-left::before,
.quotation button:hover .icon-news-right::before{
    color: #282828;
}

/* --------------------------------------------------------
   Dynamic Templates
   -------------------------------------------------------- */

/* Press Releases */
.pressreleases-item {
    background-color: #e9e9e9;
}

/* Press Dates */
.pressdates-headline {
    background-color: #e9e9e9;
}

.pressdates-item {
    border-bottom-color: #e9e9e9;
}

/* Banner Generator */
.banner-generator-image {
    border-color: #fff;
    background-color: #fff;
}

/* ePDF */
.epdf-step1-inactive {
    background-image: url(../master_layout_images/epdf-step-1.png);
    background-position: right center;
    background-repeat: no-repeat;
    color: #057cce;
    background-color: #057cce;
}

.epdf-step2-inactive {
    background-image: url(../master_layout_images/epdf-step-2.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #057cce;
    color: #057cce;
}

.epdf-step a {
    color: #057cce;
}

/* AV-Ansicht */
#content li.agency-continent {
	width: 22.75%;
}
#content li.agency-continent:nth-of-type(even) {
	padding-right: 3%;
}

#content li.agency-continent:nth-of-type(4n+0) {
	padding-right: 0;
}

#content li.agency-country {
	padding: 0 3% 0 0;
	width: 48.5%;
}

#content li.agency-country a {
	display: block;
	min-height: 2.5em;
	line-height: 1.28571;
}

#content li.agency-country:nth-of-type(even) {
	padding-right: 0;
}

/* --------------------------------------------------------
   Event Database
   -------------------------------------------------------- */

/* Event Search Result */
.eventdb-search-result-category {
    background-color: #fff;
    color: #575756;
}

#eventdb-search-result-sort-select {
    background-color: #fff;
}

.eventdb-highlights-item-line,
.eventdb-memolist-item-line {
    border-bottom-color: #999;
}

/* Event Detail */
.eventdb-details-category {
    background-color: #fff;
    color: #575756;
}

/* Event Speakers List */
.eventdb-speakers-list-item {
    border-bottom-color: #999;
}

/* Event Registration */
.eventregistration-dates {
    background-color: #fff;
}

/* Event Accordion */
#content .eventdb-accordion__item--open .eventdb-accordion__item__head {
    background-color: #fff;
}

#content .eventdb-accordion__item__head__time {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 20' preserveAspectRatio='none'%3E%3Cpath d='M0,-2 L8,10 0,22' stroke='white' stroke-width='1.5' fill='transparent'/%3E%3C/svg%3E");
}

#content .eventdb-accordion__item--open .eventdb-accordion__item__head__time {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 20' preserveAspectRatio='none'%3E%3Cpath d='M0,-2 L8,10 0,22' stroke='%23057ccd' stroke-width='1.5' fill='transparent'/%3E%3C/svg%3E");
}

/* --------------------------------------------------------
   Newsletter
   -------------------------------------------------------- */

/* Universal Messenger Forms */
.pi-form {
	background: #fff;
}

/* --------------------------------------------------------
   GSA Search
   -------------------------------------------------------- */

/* Tile (Navigation Level 2) */
.nav-level2-search .tile-search-inner {
    border-color: #0058a1;
}

.nav-level2-search #search-suggestions li {
    border-bottom-color: #9f9f9f!important;
}

/* GSA Result Info */
.gsa-result-info {
    color: #575756;
}

/* ========================================================
   Microanimations
   ======================================================== */

/* ==========================================
   Webforms
   ========================================== */
.mwf-form .form-col .form-group {
	padding-right: 0;
}
.form-col {
	-ms-flex-preferred-size: 45%;
	flex-basis: 45%;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

/* === Popup-Plugin ================================================= */
.mb-popup {
	width: 696px !important;
    left: 50% !important;
    right: unset !important;
	transform: translateX(-50%);
}
