body{
    margin: 0;
    padding: 0;
   
    font-family: 'Open Sans', sans-serif;
    z-index: -10;
}
#overlay{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.9;
    z-index: -5;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    
}

.loginbox{
    width: 320px;
   height: 424px;
    color: #000;
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%,  -50%);
    box-sizing: border-box;
    border-radius: 3%;
    box-shadow: 8px 8px 50px #000;
    background:white;
}
h1{
    color: #fff;
    margin: 0;
    padding: 0 0 0px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}
 
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #bdc3c7;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: #ccc;
}


.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #337ab7;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    /*background: #27ae60;*/
    color: #fff;
    
}

.loginbox a {
    font-size: 14px;
    text-decoration: none;
    color: #337ab7;
    opacity: 0.8;
}

.loginbox a:hover {
   
    opacity: 1;
}

#text-account {
    font-size: 14px;
    color: #929191;
    
}

#create-account: hover {
    text-decoration: underline;
    font-weight: bold;
}