/* project.css (media queries included)  */

/* ========================================================
   Elements
   ======================================================== */

/* --------------------------------------------------------
   Base (Mobile)
   -------------------------------------------------------- */

/* Global */
nav,
h2, h3, h4, h5,
a.tile-text-link,
div.tile-counter {
font-weight:100;	
}

nav#nav-meta,
nav#nav-lang,
nav#nav-footer,
#nav-main ul.nav-second li a {
	font-weight: 400;
}

#nav-meta ul li a,
#nav-meta ul li span {
	margin-left: 0.7em;
}

#nav-main ul.nav-second li.nav-second-li-active span,
#nav-main ul.nav-second li a:hover {
	font-weight: 700;
}

a.tile-text-link,
.tile-counter {
	font-size: 5.25vw;
	padding-right: 10px;
}

.tile-1row,
a.tile-1row {
	padding-top: 75%;
}
.tile-2rows,
a.tile-2rows {
    padding-top: 62%;
}
.tile-3rows,
a.tile-3rows {
    padding-top: 47%;
}
.tile-4rows,
a.tile-4rows {
    padding-top: 32%;
}

/* Suche */
#nav-level2 .nav-level2-search ul li {
	font-weight: 400;
}

/* Icons */
.buyers-icon:before {
	float: left;
	padding: 0.2em 2.4em 1em 0;
	font-size: 1.5em;
	color: #464646;
}

.buyers-icon.icon-itb-shuttle:before {
	font-size: 1.25em;
	padding-right: 3.15em;
}

.buyers-icon.icon-itb-tickets:before,
.buyers-icon.icon-itb-tools:before {
	font-size: 2.1em;
	padding-right: 1.3em;
}

/*SMOI-SD000387820 Auto ist zu lang */
a.link-highlight-block.icon-itb-shuttle:before{
    font-size: 0.7em;
    width: 3.5em;
}

/* SMOI-SD000446407 Icons bei "ITB für Kinder" sind zu lang */
.accordion-navigation [class^="icon-itb"]::before,
.accordion-navigation [class*="icon-itb"]::before,
.accordion-navigation .icon-side-itb-csr::before,
.accordion-navigation .icon-side-itb-side-tickets::before{
    width: 1.6em;
    margin-left:0;
    margin-right: 0.5em;
}


/* Event-DB */
.eventdb-search-result-headline {
	margin-bottom: 1em;
}

.eventdb-search-result-sort form {
	padding-bottom: 1em;
}

.eventdb-search-result-date {
    padding-bottom: 2.4em;
}

.eventdb-search-result-img {
	display: none;
}

#content .eventdb-search-result-item h4,
#content .eventdb-search-result-item p {
    padding-left: 10px;
    padding-right: 10px;
}

#content .eventdb-search-result-icons {
    padding: 0.6em 10px;
}

h3.eventdb-search-result-subtitle-date {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.icon-event-add::before{
    content: '\e872';
}

.eventdb-details-subevent{
	margin-top: 2em;
}

#content .eventdb-details-subevent p,
#content .eventdb-details-subevent ul,
.eventdb-details-subevent-time,
.eventdb-details-subevent-title h5{
  padding-left: 1em;
	padding-right: 1em;
}

.eventdb-details-subevent-headline{
	padding: 0;
}

h4.eventdb-details-subevent-date{
	padding: 1em;
	border-bottom: 1em solid #fff;
}
.eventdb-details-subevent-time{
	padding-top: 1em;
}

/* Pressefächer */
#content .extra-highlight p.highlight {
	background-color: #d34a00;
	color: #fff;
	font-size: 1.28em;
}

#content .extra-highlight p.highlight a {
	color: #fff;
}

.itb-pdf-pressbox input[type="radio"] {
	display: none;
}
/* --- ITB 50 Jahre - Global --- */
.itb50 .on-scrolling {
    padding: 0 0 25px 0 !important;
}

/* --- ITB 50 Jahre - Navigation --- */
.itb50 #content .itb50-navigation ul {
    margin-left: 0;
}

.itb50 #content .itb50-navigation li::before {
    content: "";
}

.itb50 #content .itb50-navigation li {
    list-style-type: none;
    display: block;
    float: left;
    padding-left: 0;
    padding-right: 6%;
}

.itb50 #content .itb50-navigation li:last-child  {
   	padding-right: 0;
}

.itb50 .itb50-navigation li a {
    color: #464646;
    text-transform: uppercase;
    font-size: 1.4em;

}

/* --- ITB 50 Jahre - Headlines --- */
.itb50 .itb50-headline {
    background: #dd7500;
    background-image:-moz-linear-gradient(left, #dd7500 0%, #ffcc00 100%);
    background-image:-webkit-gradient(linear, left top, right top, color-stop(0%,#dd7500), color-stop(100%,#ffcc00));
    background-image:-webkit-linear-gradient(left, #dd7500 0%,#ffcc00 100%);
    background-image:-o-linear-gradient(left, #dd7500 0%,#ffcc00 100%);
    background-image:-ms-linear-gradient(left, #dd7500 0%,#ffcc00 100%);
    background-image:linear-gradient(to right, #dd7500 0%,#ffcc00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd7500', endColorstr='#ffcc00',GradientType=1 );
	margin-top: 3.5em;
    padding-left: 0.5em;
}

.itb50 .itb50-headline.icon-itb50::before,
.itb50 .itb50-headline.icon-itb::before {
    font-size: 2.3em;
    width: 14%;
    color: #fff;
    float: left;
    padding-top: 0.3em;
    margin-left: 0;
}

.itb50 .itb50-headline h2 {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_bg_h2.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 27px 100%;
    color: #fff;
    padding: 0.3em 0 0.2em 0;
}

/* --- ITB 50 Jahre - Destinations --- */
.itb50 .destinations .accordion-navigation .accordion-navigation-link {
    padding: 1.2em 1em 1.2em 5em;
    font-size: 1.2em;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 60px auto;
}

.itb50 .destinations .accordion-navigation.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    bottom: 15px;
    width: 35px;
    height: 30px;
    right: 3%;
}

/* --- ITB 50 Jahre - Partner --- */
.itb50 .partner-logo img {
	border: 1px solid #707070;
}

/* --- ITB 50 Jahre - Fancybox Content --- */
.itb50 .fancybox-inner h2 {
	font-size: 1.28em;
}

/* Sponsoring-Anfrage / SMOI-SD000760179*/
div.sponsoring-anfrage{
    width: 337px;
}

a.sponsoring-anfrage{
    display: block;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 0 0 0.6rem 0;
}
b a.sponsoring-anfrage{
    padding: 6rem 0 0 0;
}
a.sponsoring-anfrage:before{
    content: "";
}

div.sponsoring-anfrage p{
    position: relative;
    z-index: 2;
    margin-left: -10px;
}

div.sponsoring-anfrage:after{
    content: '\e891';
    font-family: "itb-icons";
    text-align: right;
    font-size: 5rem;
    display: inline-block;
    margin-top: -6rem;
    padding-right: 1.5rem;
    float: right;
    -moz-transform: rotate(345deg);
    -webkit-transform: rotate(345deg);
    -o-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    transform: rotate(345deg);
    z-index: 0;
    position: relative;
}

/* Banner ad */
.adcode-container {
	margin: 10px 10px;
}

/* Banner ad fix */
.nav-mobile-wrap {
	margin-top: 20px;
}

/* Partner-Logos */
body.de #footer-logos a.link-partner[href="https://experienceoman.om"] img {
	background-image: url(../itb_layout_images/itb_partner_oman_de.svg);
	background-size: 150px 107px;
	background-color: #fff;
}

body.en #footer-logos a.link-partner[href="https://experienceoman.om"] img {
	background-image: url(../itb_layout_images/itb_partner_oman_en.svg);
	background-size: 150px 107px;
	background-color: #fff;
}

/* Why visit? */

#page__section__reasons_id .row {
    /*background-color: #EAEAEA;*/
    padding: 30px 0;
}

#page__section__facts_id .row *,
#page__section__reasons_id .row * {
    box-sizing: border-box;
}

#page__section__facts_id h3 {
    font-size: 30px;
}

#page__section__facts_id .col-4 {
    width: 50%;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

#page__section__facts_id .col-4:nth-child(2n+1) {
    border-right-width: 0;
}

#page__section__facts_id .col-4:nth-child(10) {
    border-bottom-width: 0;
}

#page__section__facts_id .fact {
    min-height: 202px;
    display: flex;
    justify-content: start;
    flex-flow: column;
    padding-top: 30px;
}

.fact h4 {
    font-size: 48px;
    padding: 0;
    color: #EF7D00;
    font-weight: 400;
}

.fact h4 > span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 6px;
}

#content .fact p {
    font-size: 18px;
}

#page__section__reasons_id h3 {
    font-size: 30px;
}

#page__section__reasons_id .col-4 {
    border-bottom: 1px solid #dadada;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

#page__section__reasons_id .col-4:last-child {
    border-bottom-width: 0;
}

#page__section__reasons_id .reason {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content .reason p {
    font-size: 16px;
    width: 80%;
}


.slider {
    margin-bottom:60px;
}
.slider img {
    /*width:1350px ;*/
    height:450px
}
.carousel-caption {
    top:10% !important;
      left: 9% !important;
}

.carousel-caption h3{
    z-index: 6;
    font-family: "Abril Fatface";
    visibility: visible;
    text-align: left;
    line-height: 85px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 80px;
    border-color: rgb(140, 140, 140);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 600px;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}




.carousel-caption p {
z-index: 7;
    font-family: "Open Sans";
    visibility: visible;
    text-align: left;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 20px;
    border-color: rgb(140, 140, 140);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 663px;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
        margin-bottom: 30px;
    }
    
    
    .carousel-caption h5 {
    z-index: 5;
    font-family: Oswald;
    text-transform: uppercase;
    visibility: visible;
    text-align: left;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    border-color: rgb(140, 140, 140);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: auto;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    }
    
.qodef-button-holder {
    background-color:#4ec4ff;
    padding:10px 20px 10px 20px;
    margin-left: -700px;
}
.qodef-button-holder:hover {
    background-color:none !important;
    border:1px solid #4ec4ff;
}
/* End: Why visit? */

/* --------------------------------------------------------
   Tablet
   -------------------------------------------------------- */
@media (min-width: 768px) {
   /* Seitenwechsel-Navigation */
   body.home .nav-switch-page .page{
       padding-left: 2.5rem;
   }
   
   .countdown {
       display:none;
   }

	/* Meta-Navigation */
	#nav-meta,
	#nav-lang,
	#nav-social {
		margin-left: 2.5%;
	}

	#nav-mblogo {
		padding-top: 5px;
	}

	a.tile-text-link,
	.tile-counter {
		font-size: 1.41em;
	}

	.tile-2rows,
	a.tile-2rows {
    	padding-top: 102px;
	}

	.tile-3rows,
	a.tile-3rows {
    	padding-top: 80px;
	}

	.tile-4rows,
	a.tile-4rows {
    	padding-top: 57px;
	}

	/* SVG logos */
	body.home #logo img[src$="svg"],
	body.content #logo img[src$="svg"]{
		width: 100%;
	}

    /* Event-DB */
   #content .eventdb-search-result-item {
        min-height: 210px;
    }

	/* Pressemitteilungen */
	.pressreleases-item {
    	min-height: 230px;
	}

	/* Pressefächer */
	.radio-inline-third .radio-inline {
		width: 26%;
		padding-right: 1%;
		vertical-align: top;
	}
	/* --- ITB 50 Jahre - Navigation --- */
    .itb50 #content .itb50-navigation li {
        padding-right: 5%;
    }

    .itb50 .itb50-navigation li a {
        font-size: 1.7em;
    }

	/* --- ITB 50 Jahre - Headlines --- */
	.itb50 .itb50-headline.icon-itb50::before,
	.itb50 .itb50-headline.icon-itb::before {
        width: 9%;
    }

    /* Banner ad */
	.adcode-container {
		margin: 20px 10px;
	}

/* Why visit? */
  #page__section__facts_id .col-4 {
      width: calc(100% / 3);
      padding-left: 1.209677419%;
  }

  #page__section__facts_id .col-4:nth-child(2n+1) {
      border-right-width: 1px;
  }
  #page__section__reasons_id .col-4 {
      border-right: 1px solid #dadada;
  }

  #page__section__reasons_id .col-4:nth-child(3n+1),
  #page__section__facts_id .col-4:nth-child(3n+1) {
      border-right-width: 0;
  }

  #page__section__facts_id .col-4:nth-child(8),
  #page__section__facts_id .col-4:nth-child(9),
  #page__section__reasons_id .col-4:nth-child(8),
  #page__section__reasons_id .col-4:nth-child(9) {
      border-bottom-width: 0;
  }

  #page__section__reasons_id .col-4 {
      width: calc(100% / 3);
  }

  #page__section__reasons_id .reason {
      min-height: 190px;
  }
/* End: Why visit? */
} /*@media Tablet */

/* --------------------------------------------------------
	Screen
   -------------------------------------------------------- */
@media (min-width: 1108px) {
   /* Backgrounds */
   body.home {
       background-image:url(../itb_layout_images/Mercator_Blank_Map_World.png);
       /*background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(221,221,221,1) 34%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);*/
       background-repeat: no-repeat;
       background-position: center bottom;
       background-size: cover;
       background-attachment: fixed;
       
   }
   

   body.content{
       background-repeat: no-repeat;
       background-position: center bottom;
       background-attachment: fixed;
   }

   body.content.itbberlin,
   body.content.zusatzseiten{
       background-image: url(../itb_layout_images/itb_background_itb_screen.jpg) ;
   }
   body.content.besucher,
   body.content.kontakt{
     
      
   }
   body.content.privatbesucher{
       background-image: url(../itb_layout_images/itb_background_privatbesucher_screen.jpg) ;
   }
   body.content.aussteller{
       background-image: url(../itb_layout_images/itb_background_aussteller_screen.jpg) ;
   }
   body.content.presse{
       background-image: url(../itb_layout_images/itb_background_presse_screen.jpg) ;
   }

   .page-wrap{
       /*background-image:url(../itb_layout_images/itb_background_gradient_screen.png);*/
       background-repeat: repeat-x;
       background-position: left top;
       background-attachment: fixed;
   }

	.itb-lp-app {
		background-image: url(../itb_layout_images/itb_background_itb_screen.jpg) ;
	}

  body.content  #header::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 174px;
      z-index: 5000;
      background-color: #ffffff;
  }

   /* Seitenwechsel-Navigation */
   body.home .nav-switch-page .page{
       padding-left: 4rem;
   }
   body.content .nav-switch-page{
     text-align: center;
   }
   .nav-switch-page li{
		 width:16.3%;
   }
	 .nav-switch-page li a,
	 .nav-switch-page li span{
		 text-align: center;
		 padding-left: 0.4em;
		 padding-right: 0.4em;
	 }

	/* Meta-Navigation */
	#nav-mblogo {
		padding-top: 15px;
	}

	/* Footer */
	#footer {
		height: 130px;
	}

	/* Einstellungen bei 1 Partner-Logo */

    #nav-footer{
        width: 71%;
		padding-top: 5.5%;
    }

    #footer-logos {
        width: 15%;
    }

    #footer-copyright {
        width: 14%;
		padding: 5.5% 0 2%;
    }

	/* Navigation */
	.on-scrolling #nav-main {
		padding: 4px 0 25px 0!important;
	}

	a.tile-text-link,
	.tile-counter {
		font-size: 1.38em;
	}

	.tile-2rows,
	a.tile-2rows {
    	padding-top: 100px;
	}

	.tile-3rows,
	a.tile-3rows {
    	padding-top: 78px;
	}

	.tile-4rows,
	a.tile-4rows {
    	padding-top: 56px;
	}

	ul.nav-second {
		width: 22%;
	}

	.home #nav-main {
		padding-top: 70px;
		left:3%;
	}

	ul.nav-second {
		margin: 0;
	}

	/* Adapt to new logo dimensions */

   body.content #logo img {
		margin-bottom: 20px;
   }

   #nav-main,
   #nav-main.nav-main-active {
		padding-top: 10px;
		padding-bottom: 20px;
   }

   .screen-scrolling {
	   padding-top: 14.1em!important;
   }

   body.content .on-scrolling #logo img {
		max-height: 65px;
		background-size: 158px 65px;
   }

    /* Icons*/
    /*SMOI-SD000387820 Auto ist zu lang */
    a.link-highlight-block.icon-itb-shuttle:before{
        font-size: 0.8em;
        width: 3.7em;
    }

    /* Event-DB */
   #content .eventdb-search-result-item {
        min-height: 280px;
    }

	/* Pressemitteilungen */
	.pressreleases-item {
    	min-height: 210px;
	}
	/* --- ITB 50 Jahre - Global --- */
	.itb50 .screen-scrolling-nolevel2 {
		padding-top: 4.2em!important;
	}
	/* --- ITB 50 Jahre - Navigation --- */
    .itb50 #content .itb50-navigation li {
        padding-right: 14%;
    }

    .itb50 .itb50-navigation li a {
        font-size: 1.9em;
    }

	/* --- ITB 50 Jahre - Headlines --- */
    .itb50 .itb50-headline h2 {
        background-size: 33px 100%;
    }

	.itb50 .itb50-headline.icon-itb50::before,
	.itb50 .itb50-headline.icon-itb::before {
        width: 6%;
    	padding-top: 0.45em;
    }

    .itb50 .itb50-headline h2 {
        padding: 0.5em 0 0.4em 0;
    }
	/* --- ITB 50 Jahre - Destinations --- */
    .itb50 .destinations .accordion-navigation.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
        bottom: 10px;
        right: 2%;
    }

	/* --- ITB 50 Jahre - Partner --- */
	.itb50 .partner-logo {
		margin-top: 3.5em;
	}

	/* --- ITB 50 Jahre - Fancybox Content --- */
	.itb50 .fancybox-inner h2 {
		font-size: 2.1425em;
	}


    /* Sponsoring-Anfrage / SMOI-SD000760179*/
   div.sponsoring-anfrage{
        width: 100%;
    }

    div.sponsoring-anfrage::after{
        font-size: 3.4rem;
        padding-right: 1rem;
        margin-top: -5rem;
    }

    a.sponsoring-anfrage:hover{
        text-decoration: none;
    }

    a.sponsoring-anfrage{
        font-size: 1.2rem;
    }

    b a.sponsoring-anfrage{
        padding: 4rem 0 0;
    }

    /* Banner ad */
	.adcode-container {
		margin: 10px 10px;
	}


    /* Why visit? */
    #page__section__facts_id .col-4:hover,
    #page__section__reasons_id .col-4:hover {
        background-color: #fafafa;
    }
    /* End: Why visit? */

} /*@media Screen */

/* --------------------------------------------------------
	Widescreen
   -------------------------------------------------------- */
@media (min-width: 1780px) {

   /* Backgrounds */
   body.home {
       background-image:url(../itb_layout_images/itb_background_home_wide.jpg);
   }

   body.content.itbberlin,
   body.content.zusatzseiten{
       background-image:url(../itb_layout_images/itb_background_itb_wide.jpg);
   }
   body.content.besucher,
   body.content.kontakt{
       background-image: url(../itb_layout_images/itb_background_besucher_wide.jpg) ;
   }
   body.content.privatbesucher{
       background-image: url(../itb_layout_images/itb_background_privatbesucher_wide.jpg) ;
   }
   body.content.aussteller{
       background-image: url(../itb_layout_images/itb_background_aussteller_wide.jpg) ;
   }
   body.content.presse{
       background-image: url(../itb_layout_images/itb_background_presse_wide.jpg) ;
   }

   .page-wrap{
       background-image:url(../itb_layout_images/itb_background_gradient_wide.png);
   }

	.itb-lp-app {
		background-image: url(../itb_layout_images/itb_background_itb_wide.jpg) ;
	}

    /* Seitenwechsel-Navigation */
   body.home .nav-switch-page .page{
       padding-left: 5rem;
   }

   .nav-switch-page li {
    width: 16%;
    }

	/* Meta-Navigation */
	#nav-meta,
	#nav-lang,
	#nav-social {
		margin-left: 4%;
	}

	#nav-meta ul li a,
	#nav-meta ul li span {
		margin-left: 1em;
	}

	/* Footer */
	#footer {
		height: 140px;
	}

	/* Einstellungen bei 1 Partner-Logo */

    #nav-footer{
        width: 77%;
		padding-top: 3.9%;
    }

    #footer-logos {
        width: 10%;
    }

    #footer-copyright {
        width: 13%;
		padding: 3.9% 0 2%;
    }

	/* Navigation */
	ul.nav-second {
		width: 19%;
	}

	a.tile-text-link,
	.tile-counter {
		font-size: 1.76em;
	}

	.tile-2rows,
	a.tile-2rows {
    	padding-top: 146px;
	}

	.tile-3rows,
	a.tile-3rows {
    	padding-top: 112px;
	}

	.tile-4rows,
	a.tile-4rows {
    	padding-top: 80px;
	}

	/* Pressemitteilungen */
	.pressreleases-item {
    	min-height: 260px;
	}

	/* --- ITB 50 Jahre - Navigation --- */
   .itb50 #content .itb50-navigation li {
        padding-right: 18%;
    }

	/* --- ITB 50 Jahre - Headlines --- */
   .itb50 .itb50-headline h2 {
        background-size: 37px 100%;
    }

    .itb50 .itb50-headline.icon-itb50::before,
	.itb50 .itb50-headline.icon-itb::before {
        width: 4%;
    }

	/* --- ITB 50 Jahre - Destinations --- */
   .itb50 .destinations .accordion-navigation .accordion-navigation-link {
        background-position: 0.7em center;
    }

   .itb50 .destinations .accordion-navigation.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
        bottom: 16px;
        right: 1.5%;
    }


    /* Sponsoring-Anfrage / SMOI-SD000760179*/

    b a.sponsoring-anfrage{
        padding: 4.5rem 0 0;
    }

    a.sponsoring-anfrage{
        font-size: 1.8rem;
    }

    div.sponsoring-anfrage::after{
        margin-top: -6rem;
        font-size: 4.8rem;
    }

    /* Why visit? */
    #page__section__facts_id .fact {
        padding-top: 40px;
    }
    #page__section__reasons_id .reason {
        min-height: 140px;
    }
    /* End: Why visit? */
} /*@media Widescreen */

/* ========================================================
   Colors
   ========================================================

   Primär:		#464646 (grau)
   Sekundär:	#ef7d00 (orange)
   Tertiär:		#fff3a5 (hellgelb)
   Icons:		#fff3a5
   Links:		#d34a00
   Schrift:		#707070
   Gelb:		#ffd409

   ======================================================== */

/* Base */
body {
	background-color: #fff;
}

#screen-fixed {
    background-color: #fff;
}

.nav-switch-page li a{
    background-color: #d6d6d6;
    border-color: #d6d6d6;
}

.nav-switch-page li.itb-berlin a{
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

#side-panel li a {
    background-color: #ef7d00;
}

#side-panel li.link-aside-2 a,
#side-panel li.link-aside-4 a {
	background-color: #ffd409;
	color:#464646;
}

#side-panel li a:hover {
    background-color: #464646;
    color:#fff;
}

/* Fix for overlapping close button of side panel due to ad banner */
aside {
  z-index: 5002;
}

.icon-side-home-item1,
.icon-side-home-item2,
.icon-side-home-item5 {
	background-color: #464646;
}

.icon-side-home-item3,
.icon-side-home-item4 {
	background-color: #ffd409;
}

.mobile-nav-toggle,
.mobile-search-button {
    color: #464646;
}

.nav-mobile-wrap {
    background: #464646;
}


a {
	color: #d34a00;
}

a.link-highlight,
a.link-highlight-block {
    background-color: #ef7d00;
}

a.link-highlight.yellow,
a.link-highlight-block.yellow {
    background-color: #ffd409;
    color: #464646;
}

a.link-highlight.orange,
a.link-highlight-block.orange {
    background-color: #ef7d00;
    color: #fff;
}

a.link-highlight.grey,
a.link-highlight-block.grey {
    background-color: #464646;
    color: #fff;
}

a.link-highlight:hover,
a.link-highlight-block:hover {
    background-color: #464646;
    color: #fff;
}

a.link-highlight.grey:hover,
a.link-highlight-block.grey:hover {
    background-color: #ffd409;
    color: #464646;
}

.news a {
	color: #464646;
}

h2, p, li, table {
    color: #464646;
}

h3, h4, h5 {
    color: #707070;
}

.img-border img,
#content .border{
    border-color: #ef7d00;
}

.servicelist img {
    border: 1px solid #ef7d00;
}

/* Cookie-Hinweis */
.cookie-confirm {
	background-color: #ffd409;
	color: #464646;
}

.cookie-confirm:hover {
	background-color: #464646;
	color: #fff;
}

.cookie-background {
	opacity: 0.9;
}

/* Forms */
.form-control:focus {
	border-color:#ef7d00;
}

label {
	color: #464646;
}

.form-control {
	background-color: #fff3a5;
	border-color: #fff3a5;
	color: #464646;
}

.pi-form-helptext {
    color: #707070;
}

/* Tabellen */

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    color: #464646;
}

.table > thead > tr > th {
    background-color: #464646;
    color: #fff;
}

.table-color > thead > tr > th {
    background-color: #ef7d00;
}

.table-color > tbody > tr > th,
.table-color > tfoot > tr > th,
.table-color > thead > tr > td,
.table-color > tbody > tr > td,
.table-color > tfoot > tr > td {
    background-color: #fff3a5;
}

.yellow .table > thead > tr > th,
.yellow .table-color > thead > tr > th {
    background-color: #ffd409;
    color: #464646;
}

.grey .table > thead > tr > th,
.grey .table-color > thead > tr > th {
    background-color: #464646;
    color: #fff;
}

.orange .table > thead > tr > th,
.orange .table-color > thead > tr > th {
    background-color: #ef7d00;
    color: #fff;
}

.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #fff3a5;
}

.table-striped.table-color > tbody > tr:nth-child(2n+1) > td,
.table-striped.table-color > tbody > tr:nth-child(2n+1) > th {
    background-color: #fff;
}

.table > tbody > tr > th, .table > tbody > tr > td {
    border-bottom-color: #464646;
}

/*-----------------*/
#content blockquote {
    border-left-color: #ef7d00;
}

#content li:before {
    color: #d34a00;
}

#content ul ul li:before {
    color: #ef7d00;
}

.col-highlight,
#content .highlight {
    background-color: #fff3a5;
}

.text-success a,
.text-error a,
a.gsa-spellcheck-link b{
	color:#464646;
}

#content .anchor-links li a {
	background-color: #464646;
    border-color: #464646;
}

#content .anchor-links-color li a {
	background-color: #ef7d00;
    border-color: #ef7d00;
}

#content .yellow .anchor-links-color li a,
#content .yellow .anchor-links li a{
    color: #464646;
    background-color: #ffd409;
    border-color: #ffd409;
}

#content .grey .anchor-links-color li a,
#content .grey .anchor-links li a{
    color: #fff;
    background-color: #464646;
    border-color: #464646;
}

#content .orange .anchor-links-color li a,
#content .orange .anchor-links li a{
    color: #fff;
    background-color: #ef7d00 ;
    border-color: #ef7d00;
}

#nav-meta ul li a,
#nav-lang ul li a,
#nav-footer ul li a,
#footer-copyright {
    color: #464646;
}

#nav-main ul li.nav-main-li-active,
#nav-level2 ul li.nav-level2-li-active a.nav-level2-current,
#nav-level2 ul li.nav-level2-li-active span,
#nav-level3 ul li.nav-level3-li-active span,
#nav-level3 ul li.nav-level3-li-active a {
	background-color: #464646;
}

#nav-level2 ul li a,
#nav-level3 ul li a {
	color: #464646;
}

#nav-level2 ul li a:hover,
#nav-level3 ul li a:hover {
	background-color: #464646;
	color: #fff;
}

#nav-level3 ul li a {
	color: #464646;
}

#nav-level2,
#nav-level3 {
    border-bottom-color: #ef7d00;
}

#nav-main ul li span {
	color: #fff;
	border-bottom-width: 0;
}

.news-headline h2,
.news-headline h2:hover {
    background-color: #ffd409;
    color: #464646;
}

.news-content-slider li p {
	color: #ef7d00;
}

.icon-news-left:before,
.icon-news-right:before,
.icon-gallery-zoom:before {
    color: #ef7d00;
}

.pressphoto-img {
    background-color: #ef7d00;
}

.pressreleases-date {
	color: #464646;
}

/* Tiles */
.tile {
	background-color: #464646;
	border-color: #464646;
	color: #fff;
}

.tile.orange {
	border-color: #ef7d00;
	background-color: #ef7d00;
}

.tile.yellow {
    border-color: #FFD409;
    background-color: #FFD409;
}

.tile.blue {
	border-color: #14367d;
	background-color: #14367d;
}

.tile.lightblue {
	border-color: #7697cd;
	background-color: #7697cd;
}
.tile.itb-india {
	border-color: #993366;
	background-color: #993366;
}

#tile-event {
	background-color: #fff;
}

/* Tile Links */
a.tile-text-link {
	background: #464646;
	color: #fff;
}

.tile.orange a.tile-text-link {
	background: #ef7d00;
	color: #fff;
}

.tile.yellow a.tile-text-link {
    background: #FFD409;
    color: #464646;
}

.tile.blue a.tile-text-link {
	background: #14367d;
	color: #fff;
}

.tile.lightblue a.tile-text-link {
	background: #7697cd;
	color: #fff;
}
.tile.itb-india a.tile-text-link {
	background: #993366;
	color: #fff;
}

/* Counter */
div.tile-counter {
	background: #ef7d00;
	color: #ffd409;
}

.tile-counter-label-before,
.tile-counter-label-after {
	color: #fff;
}

.quotation {
    background: #FFF3A5;
}

.quotation .icon-news-left:before,
.quotation .icon-news-right:before {
    color: #ef7d00;
}

/* Fancybox */
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span,
#fancybox-buttons ul {
	background-color: #464646;
}

/* Newsletter Sidepanel */
.newsletter-sidepanel {
    background-color: #464646;
}

.newsletter-sidepanel__title {
    color: #fff;
}

.newsletter-sidepanel__intro {
    color: #fff;
}

.newsletter-sidepanel__close {
    background-color: #ef7d00 !important;
}

.newsletter-sidepanel__disclaimer {
    color: rgba(255, 255, 255, 0.65);
}

.newsletter-sidepanel .pi-form-label label {
    color: #fff;
}

.newsletter-sidepanel .pi-form-button button {
    background-color: #ef7d00;
    color: #fff;
}

.newsletter-sidepanel .pi-form-input input[type="text"] {
    border-color: #b4b4b4;
}

.newsletter-sidepanel .pi-message {
    color: #fff;
}

/* Tile Search */
#tile-search {
	background-color: #fff;
	border-color: #ffd409;
}

/* Suche */
.gsa-search input {
	background-color: #fff;
	color: #464646;
}

.tile .tile-search-inner {
	border-color: #FFD409;
	background-color: #FFD409;
}

.nav-level2-search .tile-search-inner {
	border-color: #ef7d00;
	background-color: #ef7d00;
}

.tile-search-content h3 {
	background-color: #fff;
	color: #ef7d00;
}

.gsa-search-mobile {
    background-color: #ffd409;
}

input.gsa-search-mobile-input {
	color: #464646;
	text-transform: none;
}

.gsa-search-mobile-button {
    background-color: #ffd409;
    color: #fff;
}

.gsa-search input,
input.gsa-search-mobile-input,
.gsa-search input::-webkit-input-placeholder,
input.gsa-search-mobile-input::-webkit-input-placeholder,
.gsa-search input:-moz-placeholder,
input.gsa-search-mobile-input:-moz-placeholder,
.gsa-search input:-ms-input-placeholder,
input.gsa-search-mobile-input:-ms-input-placeholder {
	opacity: 1;
}

/* GSA Content Search */
.gsa-content-search,
#content button.gsa-content-search-button,
#content .gsa-content-search-button:hover {
	background-color: #ffd409;
}

#content .gsa-content-search-option,
#content #gsa-content-search-select {
	background-color: #ef7d00;
}

/* Tab-Navigation & Anker */
#content .tab-navigation-colored .ui-widget-header .ui-state-default a,
#content .tab-navigation .ui-widget-header .ui-state-default a,
#content .grey .tab-navigation-colored .ui-widget-header .ui-state-default a,
#content .grey .tab-navigation .ui-widget-header .ui-state-default a,
#content .orange .tab-navigation-colored .ui-widget-header .ui-state-default a,
#content .orange .tab-navigation .ui-widget-header .ui-state-default a {
    color: #fff;
}

#content .yellow .tab-navigation-colored .ui-widget-header .ui-state-default a,
#content .yellow .tab-navigation .ui-widget-header .ui-state-default a {
    color: #464646;
}

#content .tab-navigation-colored .ui-widget-header .ui-state-active a,
#content .tab-navigation .ui-widget-header .ui-state-active a,
#content .grey.tab-navigation-colored .ui-widget-header .ui-state-active a,
#content .grey .tab-navigation .ui-widget-header .ui-state-active a,
#content .orange .tab-navigation-colored .ui-widget-header .ui-state-active a,
#content .orange .tab-navigation .ui-widget-header .ui-state-active a,
#content .yellow .tab-navigation-colored .ui-widget-header .ui-state-active a,
#content .yellow .tab-navigation .ui-widget-header .ui-state-active a {
    background: #fff;
    color: #ef7d00;
}

#content .tab-navigation .ui-state-default  {
    background-color: #464646;
    border-color: #464646;
}

#content .tab-navigation-colored .ui-state-default {
    background-color: #ef7d00;
    border-color: #ef7d00;
}

#content .yellow .tab-navigation .ui-state-default,
#content .yellow .tab-navigation-colored .ui-state-default  {
    background-color: #ffd409;
    border-color: #ffd409;
}

#content .grey .tab-navigation .ui-state-default,
#content .grey .tab-navigation-colored .ui-state-default  {
    background-color: #464646;
    border-color: #464646;
}

#content .orange .tab-navigation .ui-state-default,
#content .orange .tab-navigation-colored .ui-state-default  {
    background-color: #ef7d00;
    border-color: #ef7d00;
}

#content ul.ui-tabs-nav .ui-state-active,
#content .ui-tabs .ui-tabs-panel,
#content .grey ul.ui-tabs-nav .ui-state-active,
#content .grey .ui-tabs .ui-tabs-panel,
#content .orange ul.ui-tabs-nav .ui-state-active,
#content .orange .ui-tabs .ui-tabs-panel {
    border-color: #ffd409;
    background: #fff;
}

/* Akkordeon-Navigation */
.grey .accordion-navigation-link,
.grey .ui-accordion .ui-accordion-header,
.grey .accordion-navigation-colored .accordion-navigation-link,
.grey .accordion-navigation-colored .ui-accordion .ui-accordion-header,
.accordion-navigation-link,
.ui-accordion .ui-accordion-header {
    background-color: #464646;
    color: #fff;
	border-color: #464646;
}

.orange .accordion-navigation-link,
.orange .ui-accordion .ui-accordion-header,
.orange .accordion-navigation-colored .accordion-navigation-link,
.orange .accordion-navigation-colored .ui-accordion .ui-accordion-header,
.accordion-navigation-colored .accordion-navigation-link,
.accordion-navigation-colored .ui-accordion .ui-accordion-header {
    background-color: #ef7d00;
    border-color: #ef7d00;
    color: #fff;
}

.yellow .accordion-navigation-link,
.yellow .ui-accordion .ui-accordion-header,
.yellow .accordion-navigation-colored .accordion-navigation-link,
.yellow .accordion-navigation-colored .ui-accordion .ui-accordion-header {
    background-color: #ffd409;
    color: #464646;
    border-color: #ffd409;
}

.ui-accordion.accordion-navigation-colored .ui-state-active,
.ui-accordion.accordion-navigation .ui-state-active {
    color: #ef7d00;
}

.accordion-navigation-colored .accordion-category {
    background-color: #ef7d00;
}

.accordion-navigation .ui-state-default .ui-icon,
.accordion-navigation-colored .ui-state-default .ui-icon {
	background-image: url(../itb_layout_images/itb_accordion_down_hover.svg);
}

.yellow .accordion-navigation .ui-state-default .ui-icon {
    background-image: url(../itb_layout_images/itb_accordion_down.svg);
}

.accordion-navigation .ui-state-active .ui-icon,
.accordion-navigation-colored .ui-state-active .ui-icon {
	background-image: url(../itb_layout_images/itb_accordion_up.svg);
}

.ui-accordion .ui-state-active,
.yellow .ui-accordion .ui-state-active,
.orange .ui-accordion .ui-state-active,
.grey .ui-accordion .ui-state-active {
	background-color: #fff;
	border-color: #ffd409 #ffd409 #d34a00 #ffd409;
}

.accordion-navigation-box {
	border-color:#ffd409;
}

.accordion-category {
	background-image: url(../itb_layout_images/itb_accordion_category_default.png);
	background-color: #fff3a5;
    color: #fff;
}

.ui-accordion-header.ui-state-active .accordion-category,
.ui-accordion-header:hover .accordion-category {
	background-image: url(../itb_layout_images/itb_accordion_category_default.png);
}

/* A-Z-Liste */
#content .page-navigation li span {
    background-color: #fff;
    color: #ef7d00;
    border: #ffd409 1px solid;
}

#content .page-navigation li a {
    background-color: #ef7d00;
    color: #fff;
    border: #ef7d00 1px solid;
}

/* Sitemap */
#content .sitemap ul.sitemap-level1 li a {
    background-color: #ef7d00;
    color: #fff;
}

#content .sitemap ul.sitemap-level2 li a {
    background-color: #464646;
}

#content .sitemap ul.sitemap-level3 li a {
    background-color: #fff;
    color: #000;
}

/* Buttons */
#content button {
    background-color: #fff3a5;
    color:#464646;
}

#content button:focus,
#content input[type="submit"]:focus,
#content input[type="button"]:focus{
    background-color: #ffd409;
    color: #464646;
}

#content button.btn-colored,
a.button-link {
    background-color: #ef7d00;
    color:#fff;
}

/* Banner-Generator */
.banner-generator-image {
	border-color: #fff3a5;
	background-color: #fff3a5;
}

/* ePDF */
.epdf-step {
	border: 1px solid #ef7d00;
	background-color: #fff;
}

.epdf-step1-active,
.epdf-step2-active {
	background-color: #ef7d00;
	color: #fff;
}

/* Newsletter */
.newsletter-selection {
	border-color: #ef7d00;
}

h3.newsletter-web-category {
	background-color: #464646;
	color: #fff;
	margin-top: 0.5em;
	padding: 0.5em;
}

/* Website Guide */
.websiteguide {
	background-color: #fff3a5;
}

.websiteguide__label,
.websiteguide__select--styled,
#content .websiteguide__select--options {
	background-color: #ffffff;
}

.websiteguide__select--highlighted {
	background-color: #d34a00;
}

.websiteguide__label {
	border-color: #dedede;
}

div.websiteguide__select {
	color: #d34a00;
	border-color: #dedede;
}

.websiteguide__select--disabled {
	color: #ccc;
	cursor: not-allowed;
}

.websiteguide__select--styled:after {
	border-color: #d34a00 transparent transparent transparent;
}

.websiteguide__select--styled:active:after,
.websiteguide__select--styled.active:after {
	border-color: transparent transparent #d34a00 transparent;
}

.websiteguide__select--disabled .websiteguide__select--styled:after {
	border-color: #ccc transparent transparent transparent;
}

.websiteguide__select--styled:active,
.websiteguide__select--styled.active {
	background-color: #ffffff;
}

.websiteguide__select--disabled .websiteguide__select--styled:active:after,
.websiteguide__select--disabled .websiteguide__select--styled.active:after {
	top: 36px;
}

.websiteguide__select--options li:hover {
	color: #c0392b;
	background: #fff3a5;
}

#content button.websiteguide__button {
	background-color: #ef7d00;
	color: #fff;
}

#content button.websiteguide__button:hover {
	color: #fff;
}

#content button.websiteguide__button.disabled {
	cursor: not-allowed;
	background-color: #464646;
	color: #868686;
}

#content button.websiteguide__button:not(.disabled):hover {
	background-color: #464646;
}

/* Event-DB */
.eventdb-search-result-headline h3,
.eventdb-search-result-sort form {
	border-bottom: 1px solid #464646;
}

.eventdb-search-result-sort select {
	background-color: #fff;
	border-color: #ef7d00;
}

h3.eventdb-search-result-subtitle-date {
    border-color: #ef7d00;
    color: #707070;
}

.eventdb-search-result-category,
.eventdb-details-category {
    background-color: #FFD409;
    border-color: #FFD409;
    color: #464646;
}

#content .eventdb-search-result-item,
#content .eventdb-search-result-icons {
    background-color: #FFF3A5;
}

#content .page-navigation li span.page-navigation-active {
	background-color: #fff;
	border-color: #FFD409;
	color: #ef7d00;
}

.eventdb-summery-list-event:nth-child(even),
.eventdb-details-subevent:nth-child(even) {
	background-color: #fff3a5;
}

.eventdb-summery-list-event:nth-child(odd),
.eventdb-details-subevent:nth-child(odd) {
	background-color: #fff;
}

h4.eventdb-details-subevent-date{
	background-color: #ef7d00;
	color: #fff;
}

.eventdb-speakers-details-relations-title,
.eventdb-speakers-details-relations-date {
    color: #000;
}

.eventdb-speakers-list-sort {
    color: #464646;
}

#content .eventdb-search-result-icons [class^="icon-"]:hover,
#content .eventdb-search-result-icons [class*=" icon-"]:hover,
#content .eventdb-highlights-icons [class^="icon-"]:hover,
#content .eventdb-highlights-icons [class*=" icon-"]:hover,
#content .eventdb-memolist-icons [class^="icon-"]:hover,
#content .eventdb-memolist-icons [class*=" icon-"]:hover,
#content .eventdb-details-icons [class^="icon-"]:hover,
#content .eventdb-details-icons [class*=" icon-"]:hover,
#content .eventdb-speakers-list-sort [class^="icon-"]:hover,
#content .eventdb-speakers-list-sort [class*=" icon-"]:hover {
    color: #ffd409;
}

/* Blätterkatalog */
.b-controls {
	color: #ef7d00;
}

.b-selector .b-current,
.b-selector ul,
.booklet .b-tab,
.booklet .b-counter {
	background-color: #ef7d00;
	color: #fff;
}

.booklet .b-tab:hover {
	background-color: #ffd409;
	color: #464646;
}

.b-selector a {
    color: #fff;
}

.b-selector a:hover {
    color: #0fff00;
}

/* Pressemitteilungen */
.pressreleases-details-date {
	color: #707070;
}

/* Hotel-/Serviceliste */
.servicelist-standard .textimage-left-img img,
.hotellist-standard .textimage-left-img img {
	border: 1px solid #464646;
}

/* Individuell */
.border-colored {
	border: 1px solid #ef7d00;
}

/* Event-Registrierung (Speed Networking) */
.speednetworking .eventregistration-col1 {
	font-weight: bold;
}

.speednetworking .eventregistration-col3 {
	font-size: 1em;
	padding: 0.1em 0.6em;
}

.speednetworking .eventregistration-category {
	background-color: #464646;
}

/* Event-Registrierung */
.eventregistration-highlight {
    background-color: #ef7d00;
    color:#fff;
}

.eventregistration-odd,
.eventregistration-even {
    background-color: #fff3a5;
}

.eventregistration-dates {
	background-color: inherit;
}

a.eventregistration-link {
    background-color: #ef7d00;
}

#speednetworking-registration .form-control[readonly] {
	background-color: #fff;
	border-color: #fff;
	font-weight: bold;
	padding: 0;
}

/* Progress Bar */
progress {
    background-color: #ffd409;
}

progress[role],
progress[aria-valuenow]:before {
    background-color: #ef7d00;
}

progress[aria-valuenow] {
    background: #ffd409;
}

progress::-moz-progress-bar {
    background-color: #ef7d00;
}

progress::-webkit-progress-bar {
    background-color: #ffd409;
}

progress::-webkit-progress-value {
    background-color: #ef7d00;
}

progress[aria-valuenow]:before {
    background-color: #ef7d00;
}

/* Loader */
.icon-loader-animation {
    border-color: #ffd409 #ffd409 #ffd409 #ef7d00;
}

/* Ticketlink */
.ticketlink .ticketlink-box {
	background-color: #ffd409;
}

.ticketlink .arrow-box {
	color: #464646;
	background-color: #fff;
}

.ticketlink .arrow-right-box a {
	color: #ef7d00;
}

.ticketlink .arrow-down-tip {
	border-top-color: #ef7d00;
}

.ticketlink .arrow-down-box {
	background-color: #ef7d00;
	color: #fff;
}

.ticketlink .arrow:hover .arrow-right-box {
	background-color: #fff;
}

.ticketlink .arrow:hover .arrow-right-tip {
	border-left-color: #fff;
}

.ticketlink .stage {
	background: url('../itb_layout_images/itb_layout_images_ticketbutton.gif') no-repeat right top;
}

.ticketlink .arrow:hover .stage {
	background-image: url('../itb_layout_images/igw_layout_images_warenkorb.png');
}

.ticketlink .step-description {
	color: #464646;
}

/* --- ITB 50 Jahre - Fancybox Content --- */
.itb50 .fancybox-content p.highlight {
    background-color: #fff3a5;
}

/* --- ITB 50 Jahre - Destinations --- */
.itb50 .destinations .accordion-navigation .flag-ae {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_ae.png)
}
.itb50 .destinations .accordion-navigation .flag-ar {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_ar.png)
}
.itb50 .destinations .accordion-navigation .flag-at {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_at.png)
}
.itb50 .destinations .accordion-navigation .flag-au {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_au.png)
}
.itb50 .destinations .accordion-navigation .flag-cu {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_cu.png)
}
.itb50 .destinations .accordion-navigation .flag-be {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_be.png)
}
.itb50 .destinations .accordion-navigation .flag-cz {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_cz.png)
}
.itb50 .destinations .accordion-navigation .flag-de {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_de.png)
}
.itb50 .destinations .accordion-navigation .flag-dk {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_dk.png)
}
.itb50 .destinations .accordion-navigation .flag-dom {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_dom.png)
}
.itb50 .destinations .accordion-navigation .flag-es {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_es.png)
}
.itb50 .destinations .accordion-navigation .flag-fi {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_fi.png)
}
.itb50 .destinations .accordion-navigation .flag-fr {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_fr.png)
}
.itb50 .destinations .accordion-navigation .flag-gb {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_gb.png)
}
.itb50 .destinations .accordion-navigation .flag-gr {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_gr.png)
}
.itb50 .destinations .accordion-navigation .flag-hu {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_hu.png)
}
.itb50 .destinations .accordion-navigation .flag-il {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_il.png)
}
.itb50 .destinations .accordion-navigation .flag-in {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_in.png)
}
.itb50 .destinations .accordion-navigation .flag-is {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_is.png)
}
.itb50 .destinations .accordion-navigation .flag-it {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_it.png)
}
.itb50 .destinations .accordion-navigation .flag-jp {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_jp.png)
}
.itb50 .destinations .accordion-navigation .flag-mn {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_mn.png)
}
.itb50 .destinations .accordion-navigation .flag-mv {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_mv.png)
}
.itb50 .destinations .accordion-navigation .flag-mx {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_mx.png)
}
.itb50 .destinations .accordion-navigation .flag-pl {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_pl.png)
}
.itb50 .destinations .accordion-navigation .flag-pt {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_pt.png)
}
.itb50 .destinations .accordion-navigation .flag-rb {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_rb.png)
}
.itb50 .destinations .accordion-navigation .flag-ro {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_ro.png)
}
.itb50 .destinations .accordion-navigation .flag-ru {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_ru.png)
}
.itb50 .destinations .accordion-navigation .flag-se {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_se.png)
}
.itb50 .destinations .accordion-navigation .flag-sg {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_sg.png)
}
.itb50 .destinations .accordion-navigation .flag-th {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_th.png)
}
.itb50 .destinations .accordion-navigation .flag-tr {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_tr.png)
}
.itb50 .destinations .accordion-navigation .flag-us {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_us.png)
}
.itb50 .destinations .accordion-navigation .flag-za {
    background-image: url(../../../itb50/itb50_layout/itb50_layout_images/itb50_layout_images_flags/itb50_flag_za.png)
}

.itb50 .destinations .accordion-navigation-colored .accordion-navigation-link.accordion-navigation-odd,
.itb50 a.link-highlight-block.dark {
    background-color: #DD7500;
    border-color: #DD7500;
}

.itb50 .destinations .accordion-navigation-colored .accordion-navigation-link.accordion-navigation-even,
.itb50 a.link-highlight-block.light {
    background-color: #EC9C00;
    border-color: #EC9C00;
}

.itb50 a.link-highlight-block.light:hover,
.itb50 a.link-highlight-block.dark:hover {
	background-color: #ffd409;
    border-color: #ffd409;
    color: #464646;
}

.itb50 .destinations .accordion-navigation-colored .accordion-navigation-link.accordion-navigation-odd.ui-state-active,
.itb50 .destinations .accordion-navigation-colored .accordion-navigation-link.accordion-navigation-even.ui-state-active {
    background-color: #fff;
    border-color: #ffd409 #ffd409 #d34a00;
}

/* Landingpage ITB App */
body.itb-lp-app .orange > h3 {
   text-color: #ef7d00;
}

body.itb-lp-app .icon-style {
    font-size:1.05em;
}

body.itb-lp-app .icon-style .textimage-img {
    float: left;
    padding: 0.2em 1.5em 1em 0;
    width: 4em;
}

body.itb-lp-app .app-logo .textimage-img {
    text-align: center;
}

body.itb-lp-app .fineprint {
    font-size: 11px;
    text-align:center;
}

body.itb-lp-app .app-buttons .textimage-imgrow-img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

body.itb-lp-app .headline-padding,
body.itb-lp-app .headline-padding .headline {
    margin-bottom: -30px;
}

/* Sponsoring-Anfrage / SMOI-SD000760179*/
div.sponsoring-anfrage{
    background-color: #FFD409;
}

div.sponsoring-anfrage:after,
a.sponsoring-anfrage{
    color: #464646;
}


/* Tablet Colors */
@media (min-width: 768px) {

    .nav-switch-page{
        background-color: #eaeaea;
    }
 .countdown {
       display:none;
   }
    .nav-switch-page li a:hover{
        text-decoration: none;
    }

    .nav-switch-page li.itb-global a:hover{
        background-color: #1A284D;
        border-color: #1A284D;
        color: #fff;
    }

    .nav-switch-page li.itb-asia a:hover{
        background-color: #e96000;
        border-color: #e96000;
    }

    .nav-switch-page li.itb-asia a:hover{
        background-color: #e96000;
        border-color: #e96000;
    }

    .nav-switch-page li.itb-berlin a:hover{
        background-color: #fff;
        border-color: #fff;
        color: #000;
    }

    .nav-switch-page li.itb-kongress a:hover{
        background-color: #7697cd;
        border-color: #7697cd;
    }

    .nav-switch-page li.itb-china a:hover{
        background-color: #7b2d26;
        border-color: #7b2d26;
    }

    .nav-switch-page li.itb-india a:hover{
        background-color: #993366;
        border-color: #993366;
    }

	#nav-mblogo i,
	#nav-mblogo a,
	#nav-meta ul li a,
	#nav-lang ul li a,
	#nav-social ul li a,
	#nav-footer ul li a {
		color: #000;
	}

	#nav-main ul li.nav-main-li-active,
	#nav-level2 ul li a:hover,
	#nav-level3 ul li a:hover {
		background-color: transparent;
		border-bottom-width: 2px;
	}

	#nav-meta ul li a:hover,
	#nav-lang ul li a:hover,
	#nav-social ul li a:hover,
	#nav-footer ul li a:hover {
		color: #d34a00;
	}

    a:hover .icon-side-home-item1,
    a:hover .icon-side-home-item2,
    a:hover .icon-side-home-item5 {
        background-color: #ef7d00;
    }

	#nav-main ul li a {
		color: #464646;
	}

	#nav-main ul li a.nav-main-current,
	#nav-main ul li a.nav-main-active,
	#nav-main ul li span {
		color:#ef7d00;
		border-width:0;
	}

	#nav-main ul li a:hover {
		color: #464646;
		border-bottom-color: #464646;
	}

	#nav-main ul.nav-second {
		background-color: #464646;
	}

	#nav-main ul.nav-second li.nav-second-li-active span,
	#nav-main ul.nav-second li a:hover {
		color: #fff;
	}

	#nav-level2 ul li {
		border-color: #FFD409;
	}

	#nav-level2 ul li:hover {
		border-color: #464646;
	}

	#nav-level2 ul li.nav-level2-li-active {
		border-color: #464646;
	}

	#nav-level2 ul li a {
		background-color: #FFD409;
		color: #464646;
	}

	#nav-level2 ul li a:hover {
		background-color: #464646;
		color: #ffd409;
		animation: color-animation 1s;
		-moz-animation: color-animation 1s;
		-webkit-animation: color-animation 1s;
	}

	#nav-level2 ul li span {
		background-color: #999;
		color: #fff;
	}

	#nav-level2 ul li.nav-level2-search {
		background-color: #fff;
		border-color: #464646;
		color: #fff;
	}

	#nav-level3 ul li a {
		background-color: #fff;
		color: #464646;
	}

	#nav-level3 ul li span {
		background-color: #464646;
		color: #fff;
	}

	#nav-level3 ul li a:hover {
		background-color: #464646;
		color: #fff;
	}

	#content .page-navigation li a {
	    background-color: #ef7d00;
	    color: #fff;
	}

	/* Forms */
	.form-control {
    	background-color: #fff;
    	border-color: #fff;
	}

	.form-elements {
	    background-color: #fff3a5;
	}

	/* ePDF */
	.epdf-step1-inactive {
		background-color: #ef7d00;
		color: #ef7d00;
	}

	.epdf-step2-inactive {
		background-color: #ef7d00;
		color: #ef7d00;
	}

	.epdf-step a {
		color: #ef7d00;
	}

	/* Pressemitteilungen */
	.pressreleases-item {
	    background-color: #fff;
	}

	/* Event-DB */
	.eventdb-speakers-list-item {
	    border-bottom-color: #707070;
	}

    /* Tab-Navigation */
   #content .tab-navigation .ui-state-hover,
   #content .grey .tab-navigation .ui-state-hover,
   #content .orange .tab-navigation .ui-state-hover {
        border-color: #FFD409;
    }
    #content .yellow .tab-navigation .ui-state-hover {
        border-color: #464646;
    }

    #content .tab-navigation .ui-state-default.ui-state-hover a,
    #content .tab-navigation-colored .ui-state-default.ui-state-hover a,
    #content .grey .tab-navigation .ui-state-default.ui-state-hover a,
    #content .grey .tab-navigation-colored .ui-state-default.ui-state-hover a,
    #content .orange .tab-navigation .ui-state-default.ui-state-hover a,
    #content .orange .tab-navigation-colored .ui-state-default.ui-state-hover a {
        background-color: #FFD409;
        color: #464646;
    }

    #content .yellow .tab-navigation .ui-state-default.ui-state-hover a,
    #content .yellow .tab-navigation-colored .ui-state-default.ui-state-hover a {
        background-color: #464646;
        color: #fff;
    }

    #content .tab-navigation .ui-state-active.ui-state-hover a,
    #content .tab-navigation-colored .ui-state-active.ui-state-hover a,
    #content .grey .tab-navigation .ui-state-active.ui-state-hover a,
    #content .grey .tab-navigation-colored .ui-state-active.ui-state-hover a,
    #content .orange .tab-navigation .ui-state-active.ui-state-hover a,
    #content .orange .tab-navigation-colored .ui-state-active.ui-state-hover a,
    #content .yellow .tab-navigation .ui-state-active.ui-state-hover a,
    #content .yellow .tab-navigation-colored .ui-state-active.ui-state-hover a {
        background-color: #fff;
        color: #ef7d00;
    }

    #content ul.ui-tabs-nav .ui-state-active.ui-state-hover,
    #content .grey ul.ui-tabs-nav .ui-state-active.ui-state-hover,
    #content .orange ul.ui-tabs-nav .ui-state-active.ui-state-hover{
        border-color: #FFD409;
    }

    #content .yellow ul.ui-tabs-nav .ui-state-active.ui-state-hover{
        border-color: #FFD409;
    }

    /* Accordion-Navigation */
    .ui-accordion.accordion-navigation .ui-accordion-header:hover,
    .ui-accordion.accordion-navigation-colored .ui-accordion-header:hover,
    .ui-accordion .ui-state-hover {
        background-color: #ffd409;
        border-color: #ffd409;
        color:#464646;
    }

    .yellow .ui-accordion.accordion-navigation .ui-accordion-header:hover,
    .yellow .ui-accordion.accordion-navigation-colored .ui-accordion-header:hover,
    .yellow .ui-accordion .ui-state-hover {
        background-color: #464646;
        border-color: #464646;
        color:#fff;
    }

    .accordion-navigation .ui-state-default.ui-accordion-header:hover .ui-icon,
    .accordion-navigation-colored .ui-state-default.ui-accordion-header:hover .ui-icon {
        background-image: url(../itb_layout_images/itb_accordion_down.svg);
    }

    .yellow .accordion-navigation .ui-state-default.ui-accordion-header:hover .ui-icon,
    .yellow .accordion-navigation-colored .ui-state-default.ui-accordion-header:hover .ui-icon {
        background-image: url(../itb_layout_images/itb_accordion_down_hover.svg);
    }

    .ui-accordion .ui-state-active{
        border-color: #ffd409 #ffd409 #d34a00 #ffd409;
    }

    .accordion-navigation .ui-state-default.ui-state-active.ui-state-hover .ui-icon,
    .accordion-navigation-colored .ui-state-default.ui-state-active.ui-state-hover .ui-icon{
        background-image: url(../itb_layout_images/itb_accordion_up.svg);
    }

    .quotation button:hover .icon-news-left:before,
    .quotation button:hover .icon-news-right:before {
        color: #464646;
    }

	/* Event Registration (Speed Networking) */
	.speednetworking .eventregistration-col4 {
		width: 100%;
	}

	#speednetworking-registration .form-control[readonly] {
		background-color: #fff3a5;
		border-color: #fff3a5;
	}

	/* Ticket-Link */
	#content .ticketlink .steps ul {
		margin-left: 2px;
	}

	.ticketlink .arrow-down-tip {
		border-left-color: #ef7d00;
	}

	.ticketlink .arrow-down-tip {
    	border-top-color: transparent;
	}

	/* Landingpage ITB App */
	 body.itb-lp-app .headline-padding,
     body.itb-lp-app .headline-padding .headline{
    	margin-bottom: -10px;
	}

    body.itb-lp-app .app-logo,
	body.itb-lp-app .fineprint {
    	float:left;
	}

	body.itb-lp-app .app-logo {
    	margin-right: 29px;
	}

	/* UM form */
	.pi-form {
	   background: #fff3a5;
	}
} /*@media Tablet Colors */

/* Screen Colors */
@media (min-width: 1108px) {

    body.home #nav-footer ul li a,
    body.home #footer-copyright{
        color: #fff;
        text-shadow: 0px 0px 3px #000;
    }

	/* Tiles */
	.tile:hover {
		border-color: #ef7d00;
	}

	.tile.orange:hover,
	.tile.yellow:hover {
		border-color: #464646;
	}

	.tile.blue:hover {
		border-color: #7697cd;
		background-color: #7697cd;
	}

	.tile.lightblue:hover {
		border-color: #14367d;
		background-color: #14367d;
	}

	a.tile-text-link:hover {
		background-color: none;
	}

	.tile.orange a.tile-text-link:hover,
	.tile.yellow a.tile-text-link:hover {
		background-color: #464646;
		color: #fff;
	}

	.tile.blue a.tile-text-link:hover {
		background-color: #7697cd;
	}

	.tile.lightblue a.tile-text-link:hover {
		background-color: #14367d;
	}

	#screen-fixed {
		background-color: #fff;
	}

	#content .page-navigation li a:hover {
	    background-color: #ffd409;
		color: #464646;
		border: #ffd409 1px solid;
	}

	#content .anchor-links li a:hover {
		background-color: #ffd409;
        border-color: #ffd409;
		color: #464646;
	}

	#content .anchor-links-color li a:hover {
		background-color: #ffd409;
		color: #464646;
	}

	/* Buttons */
	#content button:hover,
	a:hover.button-link {
	    background-color: #ffd409;
	    color: #464646;
	}

	/* Tabellen */
	.table-hover > tbody > tr:hover > td,
	.table-hover > tbody > tr:hover > th {
		background-color: #ffd409!important;
	}

	/* Suche */
	.gsa-dynamic-navigation-headline {
	    background-color: #464646;
	}

	.ui-state-default:hover .ui-icon{
		background-image: url(../itb_layout_images/itb_accordion_down_hover.svg);
	}

	/* Eventdatenbank */
	.eventdb-speakers-list-headcol {
	    background-color: #ef7d00;
	    color: #fff;
	}

	/* Event-Registrierung (Guides Tours) */
	.guidedtours .eventregistration-headcol1,
	.guidedtours .eventregistration-col1 {
	    width: 50%;
	}

	.guidedtours .eventregistration-headcol2,
	.guidedtours .eventregistration-col2 {
	    width: 27.5%;
	}

	/* Event-Registrierung (Speed Networking) */
	.speednetworking .eventregistration-headcol1,
	.speednetworking .eventregistration-col1 {
	    width: 30%;
	}

	.speednetworking .eventregistration-headcol2,
	.speednetworking .eventregistration-col2,
	.speednetworking .eventregistration-headcol3,
	.speednetworking .eventregistration-col3 {
	    width: 12.5%;
		text-align: center;
	}

	.speednetworking .eventregistration-headcol4,
	.speednetworking .eventregistration-col4 {
		width: 18%;
		text-align: center;
	}

	.speednetworking .eventregistration-headcol5 {
		width: 22%;
	}

	.speednetworking .eventregistration-col5 {
		width: 20%;
	}

	/* Event-Registrierung */
	.eventregistration-highlight {
	    background-color: transparent;
	    color:#464646;
	}

	.eventregistration-headcol {
	    background-color: #ef7d00;
	    color: #fff;
	}

	.eventregistration-odd {
	    background-color: #fff;
	}

	a.eventregistration-link:hover {
	    background-color: #ffd409;
	    color: #464646;
	}

	/* Ticket-Link */
	.ticketlink .arrow-right-tip {
		border-left-color: #fff;
	}

	.ticketlink .arrow-down-tip {
		border-top-color: #ef7d00;
    	border-left-color: transparent;
	}

	/* Landingpage ITB App */
	body.itb-lp-app .app-buttons .textimage-imgrow-img {
    	float: left;
    	width: 29%;
	}

	body.itb-lp-app .fineprint {
		text-align:left;
		font-size: 13px;
	}

} /*@media Screen Colors */


.slider {
    margin-bottom:60px;
}
.slider img {
    width:1500px;
    height:450px
}
.carousel-caption {
    top:10% !important;
      left: 9% !important;
}

.carousel-caption h3{
    z-index: 6;
    font-family: "Abril Fatface";
    visibility: visible;
    text-align: left;
    line-height: 85px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 80px;
    border-color: rgb(140, 140, 140);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 600px;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}




.carousel-caption p {
z-index: 7;
    font-family: "Open Sans";
    visibility: visible;
    text-align: left;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 20px;
    border-color: rgb(140, 140, 140);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 663px;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
        margin-bottom: 30px;
    }
    
    
    .carousel-caption h5 {
    z-index: 5;
    font-family: Oswald;
    text-transform: uppercase;
    visibility: visible;
    text-align: left;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    border-color: rgb(140, 140, 140);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: auto;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    }
    
.qodef-button-holder {
    background-color:#4ec4ff;
    padding:10px 20px 10px 20px;
    margin-left: -700px;
}
.qodef-button-holder:hover {
    background-color:none !important;
    border:1px solid #4ec4ff;
}

@media (min-width: 1400) {
   .slider {
    margin-bottom:60px;
}
.slider img {
    /*width:1500px !important;*/
    height:450px !important;
}


.carousel-caption {
    top:10% !important;
      left: 9% !important;
}

.carousel-caption h3{
    z-index: 6;
    font-family: "Abril Fatface";
    visibility: visible;
    text-align: left;
    line-height: 85px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 80px;
    border-color: rgb(140, 140, 140);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 600px;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}




.carousel-caption p {
z-index: 7;
    font-family: "Open Sans";
    visibility: visible;
    text-align: left;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 20px;
    border-color: rgb(140, 140, 140);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 663px;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
        margin-bottom: 30px;
    }
    
    
    .carousel-caption h5 {
    z-index: 5;
    font-family: Oswald;
    text-transform: uppercase;
    visibility: visible;
    text-align: left;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    border-color: rgb(140, 140, 140);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: auto;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    }
    
.qodef-button-holder {
    background-color:#4ec4ff;
    padding:10px 20px 10px 20px;
    margin-left: -700px;
}
.qodef-button-holder:hover {
    background-color:none !important;
    border:1px solid #4ec4ff;
}
 
}






.digit {
  position: relative;
  display: inline-block;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.digit p {
  margin: 0;
  line-height: 1;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all linear 500ms;
  transition: all linear 500ms;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.digit p:nth-child(1) {
  z-index: 2;
}
.digit p:nth-child(2) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
}
.digit.alt p:nth-child(1) {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.digit.alt p:nth-child(2) {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  z-index: 2;
}
.digit:after {
  opacity: 0;
  content: '0';
  line-height: 1;
  font-size: 22px;
  display: inline;
}

.counter {
  float: left;
  width: 20%;
  text-align: center;
  padding: 2em 0;
}
.counter .label {
  margin-top: .5em;
}

.setDate input {
  box-sizing: border-box;
  width: 100%;
}












.countdown {
  display: flex;
  justify-content: space-between;
  margin: 20vh auto 0 auto;
  width: 60%;
  min-width: 800px;
}
.countdown .container {
  position: relative;
}
.countdown .container svg {
  position: absolute;
  top: 0;
  left: 0;
}
.countdown .container .label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.countdown .container .label span:first-of-type {
  font-size: 55px;
  color: #fff;
}
.countdown .container .label span:nth-of-type(2) {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .countdown {
    flex-direction: column;
    align-items: center;
    height: 900px;
    width: auto;
    min-width: auto;
    display:none ;
  }
  .carousel-caption h3{
      font-size:70 !important;
  }
}

#tile-left h4 {
        padding: 18px;
    font-size: 30px;
}





section#counter-stats {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.stats .fa {
  color: #008080;
  font-size: 60px;
}

/*/ end count stats /*/



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  align-items: stretch;
  width: 100%;
  margin: auto 0;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .grid {
    width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .grid {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .grid {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .grid {
    width: 1000px;
    margin-left: 31px;
  }
}

.mycard {
  text-align: center;
  position: relative;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  overflow: hidden;
}

.mycard:hover {
  transform: scale(1.1);
}

.basic,
.basic .title .fa {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.standard,
.standard .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.premium,
.premium .title .fa {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.mycard::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.title h2 {
  position: relative;
  margin: 20px 0 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.price {
  position: relative;
  z-index: 2;
}

.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}

.option {
  position: relative;
  z-index: 2;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.mycard a {
  position: relative;
  z-index: 2;
  border-radius: 8px;
  margin: 30px auto 8px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
}


