@font-face {
  font-family: 'itb-icons';
  src: url('../itb_layout_fonts/itb-icons7a1c.eot?10062538');
  src: url('../itb_layout_fonts/itb-icons7a1c.eot?10062538#iefix') format('embedded-opentype'),
		 url('../itb_layout_fonts/itb-icons7a1c.woff?10062538') format('woff'),
		 url('../itb_layout_fonts/itb-icons7a1c.ttf?10062538') format('truetype'), 
		 url('../itb_layout_fonts/itb-icons7a1c.svg?10062538#itb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'itb-icons';
    src: url('../font/itb-icons.svg?10062538#itb-icons') format('svg');
  }
}
*/
 
 [class^="icon-itb"]:before,
 [class*="icon-itb"]:before,
 .icon-side-itb-csr:before,
 .icon-side-itb-side-tickets:before {
  font-family: "itb-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-side-itb-csr:before { content: '\e819'; } /* 'î ™' */
.icon-side-itb-side-tickets:before { content: '\e81a'; } /* 'î š' */
 
.icon-itb-at-sign:before { content: '\e800'; } /* '' */
.icon-itb-kids:before { content: '\e801'; } /* '' */
.icon-itb-wanderer:before { content: '\e802'; } /* '' */
.icon-itb-wifi:before { content: '\e803'; } /* '' */
.icon-itb-laptop:before { content: '\e804'; } /* '' */
.icon-itb-bed:before { content: '\e805'; } /* '' */
.icon-itb-book:before { content: '\e806'; } /* '' */
.icon-itb-leaf:before { content: '\e807'; } /* '' */
.icon-itb-boot:before { content: '\e808'; } /* '' */
.icon-itb-lgbt:before { content: '\e809'; } /* '' */
.icon-itb-lounge:before { content: '\e80a'; } /* '' */
.icon-itb-briefcase:before { content: '\e80b'; } /* '' */
.icon-itb-buyerscircle:before { content: '\e80c'; } /* '' */
.icon-itb-magnifier:before { content: '\e80d'; } /* '' */
.icon-itb-camera:before { content: '\e80e'; } /* '' */
.icon-itb-manwalking:before { content: '\e80f'; } /* '' */
.icon-itb-career:before { content: '\e810'; } /* '' */
.icon-itb-maracas:before { content: '\e811'; } /* '' */
.icon-itb-clover:before { content: '\e812'; } /* '' */
.icon-itb-map:before { content: '\e813'; } /* '' */
.icon-itb-compass:before { content: '\e814'; } /* '' */
.icon-itb-mobile:before { content: '\e815'; } /* '' */
.icon-itb-cocktail:before { content: '\e816'; } /* '' */
.icon-itb-notes:before { content: '\e817'; } /* '' */
.icon-itb-culture:before { content: '\e818'; } /* '' */
.icon-itb-csr:before { content: '\e819'; } /* '' */
.icon-itb-side-tickets:before { content: '\e81a'; } /* '' */
.icon-itb-ship:before { content: '\e81b'; } /* '' */
.icon-itb-dancers:before { content: '\e81c'; } /* '' */
.icon-itb-shuttle:before { content: '\e81d'; } /* '' */
.icon-itb-flag:before { content: '\e81e'; } /* '' */
.icon-itb-tickets:before { content: '\e81f'; } /* '' */
.icon-itb-etravel:before { content: '\e820'; } /* '' */
.icon-itb-globe:before { content: '\e821'; } /* '' */
.icon-itb-train:before { content: '\e822'; } /* '' */
.icon-itb-icecream:before { content: '\e823'; } /* '' */
.icon-itb-tv:before { content: '\e824'; } /* '' */
.icon-itb-island:before { content: '\e825'; } /* '' */
.icon-itb-tools:before { content: '\e826'; } /* '' */
.icon-itb-hands:before { content: '\e827'; } /* '' */
.icon-itb-wellness:before { content: '\e828'; } /* '' */
.icon-itb-award:before { content: '\e829'; } /* '' */
.icon-itb-handclap:before { content: '\e82a'; } /* '' */
.icon-itb-rucksack:before { content: '\e82b'; } /* '' */
.icon-itb-umbrella:before { content: '\e82c'; } /* '' */
.icon-itb-hat:before { content: '\e82d'; } /* '' */
.icon-itb-heart:before { content: '\e82e'; } /* '' */
.icon-itb-unihat:before { content: '\e82f'; } /* '' */
.icon-itb-wallet:before { content: '\e830'; } /* '' */
.icon-itb-hotelshuttle:before { content: '\e831'; } /* '' */
.icon-itb-brandenburger-tor:before { content: '\e832'; } /* '' */
.icon-itb-island-1:before { content: '\e833'; } /* '' */
.icon-itb-ball:before { content: '\e834'; } /* '' */
.icon-itb-btd:before { content: '\e835'; } /* '' */
.icon-itb-loupe:before { content: '\e836'; } /* '' */
.icon-itb-bucket:before { content: '\e837'; } /* '' */
.icon-itb-mask:before { content: '\e838'; } /* '' */
.icon-itb-camper:before { content: '\e839'; } /* '' */
.icon-itb-newspaper:before { content: '\e83a'; } /* '' */
.icon-itb-ppt:before { content: '\e83b'; } /* '' */
.icon-itb-clipboard:before { content: '\e83c'; } /* '' */
.icon-itb-dinnerware:before { content: '\e83d'; } /* '' */
.icon-itb-coffee-mug:before { content: '\e83e'; } /* '' */
.icon-itb-speaker-podium:before { content: '\e83f'; } /* '' */
.icon-itb-ring:before { content: '\e840'; } /* '' */
.icon-itb-radio-tower:before { content: '\e841'; } /* '' */
.icon-itb-clock:before { content: '\e842'; } /* '' */
.icon-itb-directory:before { content: '\e843'; } /* '' */
.icon-itb-speaker:before { content: '\e844'; } /* '' */
.icon-itb-diver-eyeglasses:before { content: '\e845'; } /* '' */
.icon-itb-speech-balloon:before { content: '\e846'; } /* '' */
.icon-itb-escalator:before { content: '\e847'; } /* '' */
.icon-itb-speaker-public:before { content: '\e848'; } /* '' */
.icon-itb-family:before { content: '\e849'; } /* '' */
.icon-itb-spokeswomen:before { content: '\e84a'; } /* '' */
.icon-itb-sun:before { content: '\e84b'; } /* '' */
.icon-itb-sunglasses:before { content: '\e84c'; } /* '' */
.icon-itb-flashlight:before { content: '\e84d'; } /* '' */
.icon-itb-flipflop:before { content: '\e84e'; } /* '' */
.icon-itb-swimmer:before { content: '\e84f'; } /* '' */
.icon-itb-footprint:before { content: '\e850'; } /* '' */
.icon-itb-television-tower:before { content: '\e851'; } /* '' */
.icon-itb-geometry:before { content: '\e852'; } /* '' */
.icon-itb-thimb:before { content: '\e853'; } /* '' */
.icon-itb-pen:before { content: '\e854'; } /* '' */
.icon-itb-pocketbook:before { content: '\e855'; } /* '' */
.icon-itb-envelope:before { content: '\e856'; } /* '' */
.icon-itb-video:before { content: '\e858'; } /* '' */
.icon-itb-lautsprecher:before { content: '\e891'; } /* '' */