/* ========================================================
   Master Layout (Legacy), Version 0.4
   --------------------------------------------------------
   AgenturWebfox
   ======================================================== */

/* --------------------------------------------------------
   Base (Mobile)
   -------------------------------------------------------- */

/* Global */
html {
   height: 101%;
   overflow-y: scroll;
} 

@media (min-width: 768px) and (max-width: 1107px) {
    .hidden-tablet {
        display: none!important;
    }
    .visible-tablet {
        display: block!important;
    }
}

@media (min-width: 1108px) and (max-width: 1779px) {
    .hidden-screen {
        display: none!important;
    }
    .visible-screen {
        display: block!important;
    }
}

@media (min-width: 1780px) {
    .hidden-wide {
        display: none!important;
    }
    .visible-wide {
        display: block!important;
    }
} /* End: Global */

/* Page */
.page-wrap {
   padding: 8px 0;
} /* End: Page */


/* Header */
h1 {
    margin: 0;
    padding: 0;
}

#logo,
#logo-alternate {
    float: left;
    width: 80%;
    padding: 9px 0 9px 2.5%;
    text-align: center;
}

body.home #logo img,
body.content #logo img {
    max-height: 24px;
}

/* SVG-Logos */
body.home #logo img[src$="svg"],
body.content #logo img[src$="svg"]{
	height: 24px;
	width: 350px;
}

.nav-mblogo-link img[src$="svg"] {
    width: 144px;
}

.logo-alt {
    display: none;
}

.icon {
    width: 1.2em;
    height: 1em;
    fill: currentColor;
}

/* Header / Footer */
#header {
    padding-bottom: 0.6em;
}

#nav-meta ul:after,
#nav-lang ul:after,
#nav-social ul:after,
#nav-main::after,
#side-panel ul:after {
    height: 0;
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
} /* End: Header / Footer */

/* Footer */
#footer {
    padding-top: 2%;
    padding-bottom: 0.2em;
}

#nav-footer,
#footer-logos,
#footer-copyright  {
    width: 100%;
    padding: 1% 0 2% 0;
    font-size: 1em;
    text-align: center;
}

#nav-footer {
    padding-top: 2%;
}

#nav-footer ul li {
    display: inline-block;
}

#nav-footer ul li a,
#nav-footer ul li span {
    padding-right: 8px;
}

#footer-logos a:hover {
    text-decoration: none;
} /* End: Footer */

/* Meta Navigation */
#nav-mblogo,
#nav-meta,
#nav-lang,
#nav-social {
    display: none;
}

#nav-meta.show-mobile,
#nav-lang.show-mobile,
#nav-social.show-mobile,
#nav-mblogo.show-mobile {
    display: block;
    width: 100%;
    font-size: 1em;
    text-align: center;
}

#nav-meta.show-mobile {
    padding: 4% 0 1% 0;
}

#nav-lang.show-mobile,
#nav-social.show-mobile,
#nav-mblogo.show-mobile {
    padding: 4% 0;
}

#nav-meta.show-mobile ul li,
#nav-lang.show-mobile ul li,
#nav-social.show-mobile ul li {
    display: inline-block;
}

#nav-meta.show-mobile ul li a,
#nav-lang.show-mobile ul li a,
#nav-social.show-mobile ul li a {
    padding-right: 8px;
}

.nav-lang-abbr {
    display: none;
    visibility: hidden;
}

#nav-meta ul li a,
#nav-meta ul li span {
    margin-left: 1em;
}

#nav-social ul li a {
    font-size: 1.5em;
}

#nav-social ul li a span {
    /* visually hidden */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.nav-social-icon {
    width: 1.2em;
    height: 1em;
    fill: currentColor;
}

.nav-mblogo-text {
    display: none;
    visibility: hidden;
}/* End: Meta Navigation */

/* Level Navigation (Second) */
#nav-level2 ul li.nav-level2-last {
    margin-right: 0;
}/* End: Level Navigation (Second) */

/* Level Navigation (Third) */
#nav-level2,
#nav-level3 {
    clear: both;
    padding: 0.6em 0;
    border-bottom: 2px solid;
}

#nav-level2 ul li,
#nav-level3 ul li {
    font-size: 1.15em;
    padding: 0.05em 0;
}

#nav-level2 ul li a,
#nav-level3 ul li a,
#nav-level3 ul li span {
    display: block;
    width: 96%;
    padding: 0.5em 2%;
}

#nav-level2 ul li a,
#nav-level2 ul li > span {
    line-height: 1;
}

#nav-level2 ul li a:hover,
#nav-level3 ul li a:hover {
    text-decoration: none;
}

/* active */
#nav-level2.nav-level2-active {
    padding: 0;
    border-bottom: none;
}

#nav-level2.nav-level2-active ul li {
    display: none;
}

#nav-level2.nav-level2-active ul li.nav-level2-li-active {
    display: block;
}

#nav-level2 ul li > span,
#nav-level2 ul li.nav-level2-li-active a.nav-level2-current {
    display: block;
    padding: 0.6em 0;
    font-size: 1.7em;
    text-align: center;
    text-transform: uppercase;
}

#nav-level2 ul li.nav-level2-li-active a.nav-level2-current {
    width: 100%;
}

#nav-level2 ul li.nav-level2-search {
    display: none;
}/* End: Level Navigations (Third) */

/* Main Navigation (Tablet, Screen) */
#nav-main {
    clear: both;
    width: 100%;
}

#nav-main.nav-main-active {
    padding: 0;
}

#nav-main ul li {
    display: none;
}

#nav-main ul li.nav-main-li-active {
    display: block;
    text-align: center;
    padding: 0.5em 0;
}

#nav-main ul li a,
#nav-main ul li > span {
    font-size: 2.4em;
    text-transform: uppercase;
}

#nav-main ul li span,
#nav-main ul li a.nav-main-current {
    text-decoration: none;
    border-bottom: 2px solid;
}/* End: Main Navigation (Tablet, Screen) */

/* Bilder in Reihe */
.textimage-imgrow-img {
    float: left;
    max-width: 144px;
    padding: 0 1em 1em 0;
}/* End: Bilder in Reihe */

/* Webfont */
#nav-main ul li a,
#nav-main ul li span,
a.tile-text-link,
.tile-counter,
#content .anchor-links li a,
#content ul.ui-tabs-nav li,
.ui-accordion .ui-accordion-header {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}/* End: Webfont */

/* ========================================================
   Colors
   ======================================================== */
/* Header / Footer */
#nav-meta ul li a,
#nav-lang ul li a,
#nav-footer ul li a {
    color: #282828;
}

#footer-copyright {
    color: #999;
}/* End: Header / Footer */

/* Main Navigation (Tablet, Screen) */
#nav-main ul li a {
    color: #282828;
}

#nav-main ul li span {
    color: #0058a1;
    border-bottom-color: #0058a1;
}

#nav-level2,
#nav-level3 {
    border-bottom-color: #999;
}

#nav-level2 ul li a,
#nav-level3 ul li a {
    color: #282828;
}

#nav-level2 ul li.nav-level2-active {
    background-color: #999;
}

#nav-level2 ul li.nav-level2-li-active a.nav-level2-current,
#nav-level2 ul li.nav-level2-li-active > span,
#nav-level3 ul li.nav-level3-li-active > span,
#nav-level3 ul li.nav-level3-li-active a {
    background-color: #019de2;
    color: #fff;
}/* End: Main Navigation (Tablet, Screen) */

/* --------------------------------------------------------
  Tablet
  -------------------------------------------------------- */
@media (min-width: 768px) {

    /* Mobile Navigation */
    .mobile-search,
    .mobile-nav-toggle,
    #nav-mobile {
        display: none!important;
    }

    /* Main Navigation (Tablet, Screen) */
    #nav-main > ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        flex-flow: row nowrap;
    }

    #nav-main > ul > li {
        position: relative;
        width: auto !important; /* overwrites magic-number widths in project stylesheets */
    }

    #nav-main > ul > li:not(:first-child) {
        margin-left: 1em;
    }

    #nav-main ul.nav-second {
        position: absolute;
        left: calc(50% - 7.5em);
        margin-left: 0 !important;
        width: auto;
        min-width: 15em;
    }

    #nav-main li:first-child ul.nav-second {
        left: 0;
    }

    #nav-main li:last-child ul.nav-second {
        left: auto;
        right: 0;
    } /* End: Main Navigation (Tablet, Screen) */

    /* Header */
    #header  {
        padding-bottom: 0;
    }

    #logo,
    #logo-alternate {
        width: auto;
        max-width: 152px;
        padding-left: 0;
        text-align: left;
    }

    body.home #logo img {
        max-height: 50px;
    }

    .nav-mblogo-link img {
        max-width: 110px;
        padding-top: 3px;
    }

    #logo-alternate {
        clear: none;
        float: left;
    }

    /* SVG-Logos */
    body.home #logo img[src$="svg"] {
    	height: 50px;
    }

    .nav-mblogo-link img[src$="svg"] {
    	width: 110px;
    }

    body.home #logo-alternate img[src$="svg"] {
    	height: 85px;
    }

    body.content #logo-alternate img[src$="svg"] {
    	height: 75px;
    } /* End: Header */

    /* Footer */
    #footer .col-fullsize {
        position: relative;
    }

    #nav-footer,
    .nav-footer-spacer {
        float: left;
        width: 70%;
        padding: 1% 0 2%;
        text-align: left;
    }

    #footer-logos {
        clear: both;
        text-align: center;
    }

    #footer-copyright {
        position: absolute;
        width: 30%;
        top: 0;
        right: 1.5%;
        text-align: right;
    }/* End: Footer */

    /* Meta Navigation */
    #nav-meta.show-mobile,
    #nav-lang.show-mobile,
    #nav-social.show-mobile {
        display: none;
    }

    .nav-lang-text {
        display: none;
        visibility: hidden;
    }

    .nav-lang-abbr {
        display: inline;
        visibility: visible;
    }

    #nav-mblogo,
    #nav-meta,
    #nav-lang,
    #nav-social {
        display: block;
        float: right;
        padding-top: 18px;
    }

    #nav-mblogo {
        padding-top: 15px;
    }

    .header-alternate #nav-mblogo {
        float: left;
    }

    #nav-meta,
    #nav-lang,
    #nav-social {
        margin-left: 4%;
    }

    #nav-meta ul li,
    #nav-lang ul li,
    #nav-social ul li {
        float: left;
    }

    #nav-lang ul li a,
    #nav-social ul li a {
        margin-left: 0.4em;
    }

    #nav-meta ul li a:hover,
    #nav-lang ul li a:hover {
        text-decoration: none;
        border-bottom: 1px solid;
    }

    #nav-social ul li a {
        font-size: 1em;
    }

    #nav-mblogo i {
        display: block;
        width: 126px;
        height: 20px;
        font-size: 15px;
    }/* End: Meta Navigation */

    /* Main Navigation */
    #nav-main,
    #nav-main.nav-main-active {
        padding: 30px 0 25px 0;
    }

    .header-alternate #nav-main {
        float: right;
        width: 75%;
        clear: none;
    }

    #nav-main ul li {
        display: block;
        float: left;
        text-align: center;
    }

    #nav-main ul li.nav-main-li-active {
        padding: 0;
    }

    #nav-main ul li a,
    #nav-main ul li > span {
        font-size: 1.7em;
    }

    /* Main Navigation (Hover) */
    ul.nav-second {
        display: none;
    }/* End: Main Navigation */

    /* Level Navigation (Second) */
    #nav-level2 {
        float: left;
        width: 100%;
        padding: 0;
        border-bottom: none;
    }

    #nav-level2 ul li {
        display: block;
        float: left;
        width: 93px;
        height: 91px;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 0;
        font-size: 1em;
        overflow: hidden;
        border: 1px solid;
    }

    #nav-level2 ul li.nav-level2-6 {
        margin-right: 0;
    }

    #nav-level2 ul li a,
    #nav-level2 ul li > span,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current {
        display: block;
        width: 80px;
        height: 24px;
        padding: 69px 7px 0 8px;
        font-size: 1.019em; /* 1.028em; */
        line-height: 1.15;
        text-align: left;
        text-transform: uppercase;
    }

    #nav-level2 ul li a.tile-2rows,
    #nav-level2 ul li span.tile-2rows,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current.tile-2rows {
        height: 38px;
        padding-top: 55px;
    }

    #nav-level2 ul li a.tile-3rows,
    #nav-level2 ul li span.tile-3rows,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current.tile-3rows {
        height: 52px;
        padding-top: 41px;
    }

    #nav-level2 ul li a.tile-4rows,
    #nav-level2 ul li span.tile-4rows,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current.tile-4rows {
        height: 66px;
        padding-top: 27px;
    }

    #nav-level2.nav-level2-active {
        width: 30%;
    }

    #nav-level2.nav-level2-active ul li {
        display: none;
    }

    #nav-level2.nav-level2-active ul li.nav-level2-li-active {
        display: block;
    }/* End: Level Navigation (Second) */

    /* Level Navigation (Third) */
    #nav-level3 {
        clear: none;
        float: left;
        width: 70%;
        padding: 0;
        border-bottom: none;
    }

    #nav-level3 ul li {
        float: left;
        margin: 0 0.4em 0.4em 0;
        padding: 0;
        font-size: 1.05em;
    }

    #nav-level3 ul li a,
    #nav-level3 ul li span {
        width: auto;
        padding: 0.5em 0.8em;
    }

    #nav-level2 ul li a:hover {
        text-decoration: none;
    }/* End: Level Navigations (Third) */

    /* Search Navigation */
    #nav-level2 ul li.nav-level2-search {
        display: block;
        width: 77px;
        height: 79px;
        margin-right: 7px;
        padding: 4px 8px 8px 8px;
        text-align: center;
    }/* End: Search Navigation */

    /* ========================================================
       Colors
       ======================================================== */
    body {
        background-color: #d1d1d1;
    }
    /* Main Navigation */
    #nav-main ul li span,
    #nav-main ul li a.nav-main-current {
        color: #0058a1;
    }/* End: Main Navigation */

    /* Header / Footer */
    #nav-mblogo i,
    #nav-mblogo a,
    #nav-meta ul li a,
    #nav-lang ul li a,
    #nav-social ul li a,
    #nav-footer ul li a {
        color: #999;
    }

    #nav-meta ul li a:hover,
    #nav-lang ul li a:hover,
    #nav-social ul li a:hover,
    #nav-footer ul li a:hover {
        color: #0058a1;
    }/* End: Header / Footer */

    /* Navigation */
    #nav-level2 ul li a {
        background-color: #057ccd;
        color: #fff;
    }/* End: Navigation */

    /* ========================================================
    Microanimations
    ======================================================== */
    .nav-switch-page li a,
    .nav-switch-page li span {
        transition: all 0.3s ease-in-out;
    }

    #nav-main ul li a {
        transition: all 0.3s;
    }

    #nav-level2 ul li,
    #nav-level2 ul li a,
    #nav-level3 ul li,
    #nav-level3 ul li a {
        transition: all 0.3s;
    }/* End: Microanimations */

} /*@media Tablet */

/* --------------------------------------------------------
  Screen
  -------------------------------------------------------- */
@media (min-width: 1108px) {
    /* Page-Wrap */
    .page-wrap {
      padding: 0;
    }/* End: Page-Wrap */

    /* Screen fixed */
    #screen-fixed {
        position: fixed;
        z-index: 5001;
        width: 1023px;
        height: auto;
        padding-top: 16px;
    }

    #screen-fixed.on-scrolling {
        box-shadow: 0px 36px 41px -44px rgba(0,0,0,0.25);
    }

    body.body-has-fullsize #screen-fixed.on-scrolling {
        padding-top: 4px;
    	box-shadow: none;
    }

    body.body-has-fullsize #screen-fixed.on-scrolling:before {
    	content: "";
    	background-color: #d1d1d1;
    	background-repeat: no-repeat;
    	background-position: top center;
    	width: 100vw;
    	position: absolute;
    	height: 100%;
    	display: block;
    	left: 50%;
    	top: 0;
    	z-index: -1;
    	transform: translateX(-50%);
    }

    .screen-scrolling {
        padding-top: 13.7em!important;
    }

    .screen-scrolling-nolevel2 {
        padding-top: 9.6em!important;
    }/* End: Screen Fixed */

    /* TODO */
    /* project.css:584 */
    #nav-main {
        transition: all 0.3s;
    }

    /* TODO */
    /* project.css:573 */
    .on-scrolling #nav-main {
        padding: 35px 0 25px 0 !important;
    }

    /* TODO */
    /* project.css:589 */
    #nav-level2 ul li a:hover,
    #nav-level3 ul li a:hover {
        background-color: #0058a1;
        color: #fff;
        animation: color-animation 1s;
        -moz-animation: color-animation 1s;
        -webkit-animation: color-animation 1s;
    }

  	/* Header */
  	body.body-has-fullsize #screen-fixed.on-scrolling:before {
      	box-shadow: 0px 36px 41px -44px rgba(0,0,0,0.25);
  	}

    #logo,
    #logo-alternate {
        max-width: 250px;
    }

    body.home #logo img {
        max-height: 120px;
    }

    body.content #logo img,
    body.content #logo-alternate img {
        max-height: 75px;
    }

    /* SVG-Logos */
    body.home #logo img[src$="svg"] {
    	height: 120px;
    }
    body.content #logo img[src$="svg"],
    body.content #logo-alternate img [src$="svg"] {
    	height: 75px;
    }/* End: Header */

    /* Header / Footer */
    #header,
    #footer {
        font-size: 1em;
        width: auto;
    }

    #footer {
        height: 62px;
    }
    /* End: Header / Footer */


    /* Footer */
    #nav-footer,
    #footer-logos,
    #footer-copyright {
        padding-bottom: 0.4em;
    }

    #footer {
        padding-top: 1%;
    }

    #nav-footer,
    #footer-logos,
    .nav-footer-spacer {
        clear: none;
        position: relative;
        float: left;
        width: 33.1%;
        font-size: 1em;
    }

    #nav-footer,
    .nav-footer-spacer {
        padding-top: 2%;
    }

    .nav-footer-spacer {
        padding-bottom: 0.4em;
    }

    #footer-copyright {
        position: relative;
        right: 0;
        float: right;
        width: 33.1%;
        padding: 2% 0 2%;
    }

    #footer.fixed {
        position: fixed;
        bottom: 0;
        z-index: 4999;
        width: 100%;
    }/* End: Footer */

    /* Meta Navigation */
    #nav-meta,
    #nav-lang,
    #nav-social {
        font-size: 1em;
    }

    #nav-mblogo i {
        font-size: 17px;
        width: 144px;
        height: 24px;
    }/* End: Meta Navigation */

    /* Main Navigation */
    #nav-main,
    #nav-main.nav-main-active {
        padding: 55px 0 45px 0;
    }

    .header-alternate #nav-main {
        width: 72%;
    }

    .on-scrolling #nav-main {
        padding: 25px 0!important;
    }

    #nav-main ul li a,
    #nav-main ul li > span {
        font-size: 1.9em;
        margin-bottom: 0.2em;
    }

    #nav-main ul li a:hover {
        border-bottom: none;
    }

    #nav-main ul li span,
    #nav-main ul li a.nav-main-current,
    #nav-main ul li a:hover {
        text-decoration: none;
        border-bottom: 2px solid;
    }

    /* Main Navigation (Hover) */
    ul.nav-second {
        margin-top: 0.2em;
        padding: 1em 0;
    }

    #nav-main ul li.nav-main-li-active:hover ul.nav-second {
        display: none;
    }

    #nav-main ul li:hover ul.nav-second,
    #nav-main.on-scrolling ul li:hover ul.nav-second  {
        display: block;
        position: absolute;
        z-index: 4000;
        opacity: 0.9;
    }

    #nav-main ul.nav-second li {
        float: none;
        text-align: left;
    }

    #nav-main ul.nav-second li a,
    #nav-main ul.nav-second li.nav-second-li-active > span  {
        display: block;
        padding: 0.5em 1.2em;
        font-size: 1em;
    }

    #nav-main ul.nav-second li a:hover,
    #nav-main ul.nav-second li.nav-second-li-active > span  {
        text-decoration: none;
        border: none;
        font-weight: bold;
    }

    #nav-main ul.nav-second li a:before,
    #nav-main ul.nav-second li.nav-second-li-active span:before {
        content: '';
        font-family: "mb-icons";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        margin-left: -1.2em;
        text-align: left;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
    }

    #nav-main ul.nav-second li a:hover:before,
    #nav-main ul.nav-second li.nav-second-li-active > span:before {
        content: '\e806';
    }/* End: Main Navigation */

    /* Level Navigation (Second) */
    #nav-level2 ul li {
        width: 108px;
        height: 105px;
        margin-right: 4px;
        margin-bottom: 3px;
    }

    #nav-level2 ul li.nav-level2-6 {
        margin-right: 4px;
    }

    #nav-level2 ul li a,
    #nav-level2 ul li > span,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current {
        width: 90px;
        height: 27px;
        padding: 80px 9px 0 9px;
        font-size: 1.032em; /* 1.072em */
    }

    #nav-level2 ul li a.tile-2rows,
    #nav-level2 ul li span.tile-2rows,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current.tile-2rows {
        height: 44px;
        padding-top: 63px;
    }

    #nav-level2 ul li a.tile-3rows,
    #nav-level2 ul li span.tile-3rows,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current.tile-3rows {
        height: 61px;
        padding-top: 46px;
    }

    #nav-level2 ul li a.tile-4rows,
    #nav-level2 ul li span.tile-4rows,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current.tile-4rows {
        height: 79px;
        padding-top: 28px;
    }

    #nav-level2.nav-level2-active {
        width: 100%;
    }

    #nav-level2.nav-level2-active ul li {
        display: block;
    }/* End: Level Navigation (Second) */

    /* Level Navigation (Third) */
    #nav-level3 {
        clear: both;
        width: 100%;
    }

    #nav-level3 ul {
        margin-left: 115px;
    }

    #nav-level3 ul li {
        width: auto;
        margin-bottom: 0;
        padding: 0;
    }

    #nav-level3 ul li a,
    #nav-level3 ul li span {
        width: auto;
        padding: 0.4em 0.6em;
    }/* End: Level Navigation (Third) */

    /* Search Navigation */
    #nav-level2 ul li.nav-level2-search {
        width: 88px;
        height: 93px;
        margin-right: 6px;
        padding: 4px 10px 8px 10px;
    }/* End: Search Navigation */

    /* Seitenwechsel-Navigation */
    .nav-switch-top {
    	display: block;
    	position: fixed;
    	width: 100%;
    	z-index: 6000;
    }

    .nav-switch-page {
    	margin-top: 0;
    }

    .nav-switch-page li {
    	font-size: 1rem;
    }

    .nav-switch-spacer {
    	height: 2.5rem;
    }/* End: Seitenwechsel-Navigation */

    /* ========================================================
    Microanimations
    ======================================================== */
    #nav-main > ul > li > ul {
        position: absolute;
        display: block;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.25s ease-out, opacity 0.25s ease-out;
        background-color: #003872;
        opacity: 0.0;
    }

    #nav-main > ul > li:hover > ul {
        transform: scaleY(1);
    }

    #nav-main ul li a:hover {
        border-bottom: none;
    }

    #nav-main ul.nav-second li a,
    #nav-main ul.nav-second li span {
        transition: margin 0.25s;
    }

    ul.nav-second {
        margin: 0;
    }

    #nav-main ul.nav-second li a:hover {
        margin-left: 3px;
    }


    #nav-main ul li:hover ul.nav-second,
    #nav-main.on-scrolling ul li:hover ul.nav-second {
        opacity: 0.94;
    }

    #nav-main ul li ul.nav-second,
    #nav-main.on-scrolling ul li ul.nav-second {
        display: block;
        position: absolute;
        z-index: 4000;
    } /* End: Microanimations */
}  /*@media Screen */

/* --------------------------------------------------------
  Widescreen
  -------------------------------------------------------- */
@media (min-width: 1780px) {
    /* Global */
    #screen-fixed {
        width: 1505px;
    }/* End: Global */

    /* Header / Footer */
    .nav-mblogo-link img {
        max-width: 144px;
        padding-top: 0;
    }

    /* SVG-Logos */
    .nav-mblogo-link img[src$="svg"] {
    	width: 144px;
    	height: 18px;
    }

    #footer {
        height: 72px;
    }/* End: Header / Footer */

    /* Main Navigation */
    .on-scrolling #nav-main {
        padding: 35px 0;
    }/* End: Main Navigation */

    /* Meta Navigation */
    #nav-mblogo i {
        font-size: 18.5px;
        width: 160px;
        height: 24px;
    }/* End: Meta Navigation */

    /* Level Navigation (Second) */
    #nav-level2 ul li {
        width: 158px;
        height: 156px;
        margin-right: 7px;
        margin-bottom: 7px;
    }

    #nav-level2 ul li.nav-level2-6 {
        margin-right: 7px;
    }

    #nav-level2 ul li a,
    #nav-level2 ul li > span,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current {
        width: 132px;
        height: 38px;
        padding: 120px 13px 0 13px;
        font-size: 1.326em; /* 1.362em; */
    }

    #nav-level2 ul li a.tile-2rows,
    #nav-level2 ul li span.tile-2rows,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current.tile-2rows {
        height: 63px;
        padding-top: 95px;
    }

    #nav-level2 ul li a.tile-3rows,
    #nav-level2 ul li span.tile-3rows,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current.tile-3rows {
        height: 88px;
        padding-top: 70px;
    }

    #nav-level2 ul li a.tile-4rows,
    #nav-level2 ul li span.tile-4rows,
    #nav-level2 ul li.nav-level2-li-active a.nav-level2-current.tile-4rows {
        height: 113px;
        padding-top: 45px;
    }/* End: Level Navigation (Second) */

    /* Level Navigation (Third) */
    #nav-level3 {
        width: 100%;
    }

    #nav-level3 ul {
        margin-left: 174px;
    }/* End: Level Navigation (Third) */

    /* Search Navigation */
    #nav-level2 ul li.nav-level2-search {
        width: 145px;
        height: 144px;
        margin-right: 9px;
    }/* End: Search Navigation */

	/* Content */
	.textimage-imgrow-img {
    	max-width: 212px;
	}
}