/* ========================================================
   Master Print, Version 0.8
   --------------------------------------------------------
   AgenturWebfox
   ======================================================== */

@media print {
	* {
		color: #000 !important;
		text-shadow: none !important;
		background: transparent !important;
		box-shadow: none !important;
	}

	@page {
		margin: 1cm 1.5cm 1.5cm 1.5cm;
	}

	body {
		font-family: 'Lato', sans-serif;
	}

	/* Global */
	#footer,
	#footer.fixed {
		width: 100% !important;
	}

	#footer-logos,
	#footer-copyright {
		width: 100%;
		padding-top: 0.75cm;
	}

	#footer-copyright {
		color: #999!important;
	}

	/* Visibility */
	.visible-print {
		display: none!important;
	}

	.hidden-print {
		display: none!important;
	}

	.nav-switch-page,
	.sr-only,
	.mobile-nav-toggle,
	.mobile-search,
	#screen-fixed,
	#nav-mblogo,
	#nav-social,
	#nav-lang,
	#nav-meta,
	#nav-main,
	#nav-level2,
	#nav-level3,
	#nav-mobile,
	.header__mobile__home-link, /* Design2019 */
	#side-panel,
	#tile-search,
	#nav-footer,
	#footer-logos,
	.footer__partner, /* Design2019 */
	#nav-meta-footer, /* Design2019 */
	#nav-lang-footer, /* Design2019 */
	.organizer--mobile, /* Design2019 */
	.link-top,
	.anchor-links,
	.link-back,
	.quotation-button,
	.cookie-overlay,
	.product-news-tab,
	.newsreport-root noscript,
	.contentarea__background-wrapper,
	.hero__button-next/* Design2019 */ {
		display: none!important;
	}

	/* Grid */
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-12 {
		width: 100%;
		padding-bottom: 0.2cm;
	}

	section.hero/* Design2019 */ {
		min-height: auto;
	}

	/* Links */
	a,
	a:visited {
		text-decoration: none;
	}

	#content a,
	#content a:visited {
		text-decoration: underline;
	}


	#content a:link:after {
	 	content: " (" attr(href) ") ";
	 	font-style: italic;
	}

	/* Standard Content */
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	h2,
	h3 {
		clear: both;
		page-break-after: avoid;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 16px;
	}

	h5, h6 {
		font-size: 14px;
	}

	#content p,
	#content li {
		font-size: 14px;
	}

	h2, h3, h4, h5, h6, p {
		line-height: 1.4;
	}

	#content li {
		padding-bottom: 0.1cm;
	}

	/* Hightlights */
	.col-highlight{
		border: 2px solid #000;
		padding: 0.3cm 0.3cm 0 0.3cm;
		margin-top: 1cm;
	}

	/* Images */
	.textimage-caption {
		font-size: 11px;
		padding-bottom: 0.3cm;
	}

	/* Tables */
	.table {
		border-collapse: collapse !important;
		width: 100%;
	}

	.table td,
	.table th {
		padding: 0.2cm 0.4cm;
		background-color: #fff !important;
		border-bottom: 1px solid #999;
		font-size: 14px;
		vertical-align: top;
	}

	/* Home */
	.tile {
		height: auto!important;
		margin: 0.2cm 0;
		background-color: #e9e9e9 !important;
	}

	.tile-text {
		padding: 0.3cm;
		font-size: 21pt;
	}

	.tile a br {
		display: none;
	}

	.news-content-slider ul li {
		width: 100%!important;
	}

	/* Content */
	#content .anchor-links ul {
		margin: 0.2cm 0;
		padding: 0;
	}

	#content .anchor-links ul:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}

	#content .anchor-links li {
		list-style: none;
		float: left;
		width: auto;
		padding: 0 0.2cm 0.2cm 0;
	}

	#content .anchor-links li a {
		display: block;
		padding: 0.2cm 0.4cm;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 10pt;
		background-color: #e9e9e9 !important;
	}

	/* Tab-/Akkordeon-Navigation */
	.ui-tabs-nav {
		display: none;
	}

	#content .ui-tabs .ui-tabs-panel,
	.ui-accordion .ui-accordion-content {
		display: block !important;
		padding: 0;
	}

	.ui-accordion .ui-accordion-header {
		background-color: #878787 !important;
		color: #fff !important;
		font-size: 18px;
		font-weight: 700;
	}

	.accordion-category {
		padding-right: 0.5cm;
		color: #e9e9e9 !important;

	}

	/* Forms */
	form {
		padding-bottom: 0.5cm;
	}

	fieldset {
		border: none;
		padding: 0;
	}

	.form-elements {
		padding: 0.5cm 0 0.2cm 0;
	}

	label,
	.form-control,
	#content p.form-control-static {
		width: 100%;
		margin: 0.1cm 0;
		font-size: 14px;
	}

	.form-control {
		padding: 0.1cm;
	}

	label,
	#content p.form-control-static {
		padding: 0.1cm 0;
	}

	#content button {
		margin: 0.1cm 0.1cm 0.1cm 0;
		padding: 0.1cm 0.4cm;
	}

	.radio-inline,
	.checkbox-inline {
		padding-right: 0.3cm;
	}

	/* Gallery */
	.gallery-thumb,
	.gallery-thumb-small {
		float: left;
		overflow: hidden;
		width: 70px;
		height: 70px;
		margin-right: 0.2cm;
		margin-bottom: 0.2cm;
	}

	/* Press Photos */
	.pressphoto-item {
		float: left;
		width: 29.3333333333333%;
		min-height: 280px;
		margin-top: 0.8em;
		margin-right: 4%;
		overflow: hidden;
	}

	.pressphoto-img {
		width: 100%;
		height: 50px;
		overflow: hidden;
	}

	/* Blätterkatalog */
	.booklet-download,
	.b-controls{
		display: none !important;
	}

	.b-selector-page{
		float:left;
		margin:0;
	}

	.b-current{
		font-size:14px;
	}

	.b-current:before{
		content:"Seite ";
		font-size:14px;
	}

	/* Eventdatenbank */

    #content .eventdb-main a:link:after {
        content: none;
    }

	.eventdb-options,
	.eventdb-memolist-icons{
		display:none;
	}

	.eventdb-details-subevent,
	.eventdb-memolist-item-line{
		border-bottom:1px solid #000;
	}

	.eventdb-speakers-details-text{
		float:left;
		width:50%;
	}

	.eventdb-speakers-details-img img {
		width:40%;
		float:right;
	}

	#content .eventdb-speakers-details-img a:link:after,
	#content .eventdb-memolist-description a:link:after {
		content:" ";
	}

	#content .eventdb-speakers-details-relations{
	    clear:left;
	    border-top:1px solid #000;
	}

	#content .eventdb-memolist-description a:link{
		text-decoration: none;
	}

    .eventdb-table .visible-tablet-up,
    .eventdb-table .visible-screen-up,
    .eventdb-table-col-empty {
        display: none;
    }

    .eventdb-table-item {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .eventdb-table-headcol {
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
    }

    .eventdb-table-col {
        border-bottom: 1px solid #000;
        padding: 10px;
        height: inherit !important;
    }
    .eventdb-table-link {
        padding-bottom: 5px;
    }


	/* Pressemitteilungen */
	.pressreleases-item h3 {
		font-size: 14px;
	}
	.pressreleases-description {
		border-bottom: 1px solid #000;
	}

	/* Pressetermine */
	.pressdates-headline {
		display: none;
	}
	.pressdates-item {
		border-bottom: 1px solid #000;
	}

	#content ul.ui-tabs-nav li {
		border-bottom: 20px solid #000;
	}

	#content .ui-tabs #tab-pressdates-all.ui-tabs-panel {
		display: block!important;
	}

	/* Zitate und Zitat-Animation */
	#content blockquote {
		border-left: 2px solid #000;
		padding-left: 0.3cm;
	}

	/* Content-Abschnitte (Fullsize-Streifen) */
	.contentarea {
		border-bottom: 2px dashed #333;
		clear: both;
		min-height: auto !important;
	}

	.container {
		display: inline-block;
	}

	/* Text auf Bild */
	.textpic {
		display: block;
		margin-top: 1em;
	}

	.textpic__image img {
		width: 50%;
	}

	.textpic__image {
		max-height: 75px;
		overflow: hidden;
	}

	.textpic__text {
		position: relative;
		border-left: solid 3px #ccc !important;
		padding: 0 0 0 1em;
	}

	#content .textpic__text p {
		padding: 0;
		font-size: 1.0005em!important;
	}

	.textpic__text--valign-middle,
	.textpic__text--valign-bottom {
		justify-content: flex-start;
	}

	.textpic__text--align-center,
	.textpic__text--align-right {
		align-items: flex-start;
	    text-align: left;
	}

	/* Darksite */
	body.home--darksite {
		color: #000 !important;
	}

	body.home--darksite .container img {
		filter: url('../master_layout_images/darksite_filters.svg#grayscale');
		filter: gray;
		-webkit-filter: grayscale(1);
	}
}
