/* ========================================================
   Master Layout (Wide > 1780px), Version 0.80
   --------------------------------------------------------
   AgenturWebfox
   ======================================================== */

/* Global */
body {
    font-size: 16px;
    line-height: 20px;
}

.container {
	max-width: 1551px;
}

/* Global */
.page-wrap {
    min-height: 1000px;
}

/* -------------------------------------------------------- */
/* Visibility */
.visible-wide {
    display: block!important;
}

.hidden-wide {
    display: none!important;
}

/* Section */
main {
    min-height: 500px;
}

/* -------------------------------------------------------- */
/* Aside (Side Panel) */
aside {
    top: 340px;
    width: 90px;
    height: 90px;
}

aside ul li {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

aside ul li a {
    width: 90px;
    height: 90px;
    font-size: 0.72em;
}

aside [class^="icon-"]:before,
aside [class*=" icon-"]:before {
    width: 90px;
    padding: 22px 0 8px 0;
    font-size: 28px;
}

.icon-side-home {
    padding: 26px 20px 20px 26px;
}

.icon-side-home-item {
    width: 11px;
    height: 11px;
}

/* -------------------------------------------------------- */
/* Fullsize-Layout */
.contentarea__background-wide {
	display: block;
}

/* -------------------------------------------------------- */
/* Grid */
.col-wide-3 {
    width: 22%;
}

.col-wide-4 {
    width: 30.333333333333336%;
}

.col-wide-6 {
    width: 47%;
}

.col-wide-9 {
    width: 72%;
}

.col-wide-12 {
    width: 97%;
}

/* -------------------------------------------------------- */
/* Images */
.textimage-imgrow-img {
    max-width: 212px;
}

/* -------------------------------------------------------- */
/* Highlight Links */
#content p a.link-highlight-block {
    width: 97.5%;
}

/* -------------------------------------------------------- */
/* Forms: Inline Grid */
.form-elements {
    padding-left: 20px
}

.col-12 .form-control {
    width: 1453px;
}

.col-10 .form-control,
#content .col-10 p.help-block {
    width: 1195px;
}

.col-9 .form-control,
#content .col-9 p.help-block {
    width: 1068px;
}

.col-8 .form-control,
#content .col-8 p.help-block {
    width: 938px;
}

.col-6 .form-control,
#content .col-6 p.help-block {
    width: 679px;
}

.col-4 .form-control,
#content .col-4 p.help-block {
    width: 420px;
}

.col-3 .form-control,
#content .col-3 p.help-block {
    width: 291px;
}

/* Forms: Inline Floating */
.form-group {
    width: auto;
    padding-right: 20px;
}

/* two cols */
.form-col-6 .form-group {
    width: 487px;
}
.form-col-6 .form-group .form-control,
#content .form-col-6 .form-group p.help-block {
    width: 477px;
}

.col-10 .form-col-6 .form-group {
    width: 592px;
}
.col-10 .form-col-6 .form-group .form-control,
#content .col-10 .form-col-6 .form-group p.help-block {
    width: 572px;
}

.col-9 .form-col-6 .form-group {
    width: 527px;
}
.col-9 .form-col-6 .form-group .form-control,
#content .col-9 .form-col-6 .form-group p.help-block {
    width: 507px;
}

.col-8 .form-col-6 .form-group {
    width: 463px;
}
.col-8 .form-col-6 .form-group .form-control,
#content .col-8 .form-col-6 .form-group p.help-block {
    width: 443px;
}

/* three cols */
.form-col-4 .form-group {
    width: 474px;
}
.form-col-4 .form-group .form-control,
#content .form-col-4 .form-group p.help-block {
    width: 454px;
}

.col-10 .form-col-4 .form-group {
    width: 388px;
}
.col-10 .form-col-4 .form-group .form-control,
#content .col-10 .form-col-4 .form-group p.help-block {
    width: 368px;
}

.col-9 .form-col-4 .form-group {
    width: 345px;
}
.col-9 .form-col-4 .form-group .form-control,
#content .col-9 .form-col-4 .form-group p.help-block {
    width: 325px;
}

.col-8 .form-col-4 .form-group {
    width: 302px;
}
.col-8 .form-col-4 .form-group .form-control,
#content .col-8 .form-col-4 .form-group p.help-block {
    width: 282px;
}

/* two + three cols */
.col-6 .form-col-4 .form-group,
.col-6 .form-col-6 .form-group {
    width: 334px;
}
.col-6 .form-col-4 .form-group .form-control,
.col-6 .form-col-6 .form-group .form-control,
#content .col-6 .form-col-4 .form-group p.help-block,
#content .col-6 .form-col-6 .form-group p.help-block {
    width: 314px;
}

.col-4 .form-col-6 .form-group,
.col-4 .form-col-4 .form-group,
.col-3 .form-col-6 .form-group,
.col-3 .form-col-4 .form-group {
    width: 429px;
}

.col-4 .form-col-6 .form-group .form-control,
.col-4 .form-col-4 .form-group .form-control,
.col-3 .form-col-6 .form-group .form-control,
.col-3 .form-col-4 .form-group .form-control,
#content .col-4 .form-col-6 .form-group p.help-block,
#content .col-4 .form-col-4 .form-group p.help-block,
#content .col-3 .form-col-6 .form-group p.help-block,
#content .col-3 .form-col-4 .form-group p.help-block {
    width: 409px;
}

/* ======================================================== */
/* Widgets
/* ======================================================== */

/* Tab-Navigation */
#content .ui-tabs .ui-tabs-panel {
    padding-bottom: 1.2em;
}

/* Blätterkatalog */
.pageflip-container-col-6 {
    height: 452px;
}

.pageflip-container-col-8 {
    height: 633px;
}

.pageflip-container-col-9 {
    height: 725px;
}

.pageflip-container-col-12 {
    height: 846px;
    width: 1198px;
    padding-left: 153px;
}

.pageflip-square .pageflip-container-col-12 {
    height: 599px;
}

.pageflip-square .pageflip-container-col-9 {
    height: 513px;
}

.pageflip-square .pageflip-container-col-8 {
    height: 449px;
}

.pageflip-square .pageflip-container-col-6 {
    height: 320px;
}

.pageflip-dinlang .pageflip-container-col-12 {
    width: 848px;
    height: 846px;
    padding-left: 324px;
}

.pageflip-dinlang .pageflip-container-col-9 {
    width: 728px;
    height: 725px;
    padding-left: 149px;
}

.pageflip-dinlang .pageflip-container-col-8 {
    width: 636px;
    height: 633px;
    padding-left: 130px;
}

.pageflip-dinlang .pageflip-container-col-6 {
    width: 454px;
    height: 452px;
    padding-left: 92px;
}

.pageflip-dinlangquer .pageflip-container-col-12 {
    height: 286px;
}

.pageflip-dinlangquer .pageflip-container-col-9 {
    height: 246px;
}

.pageflip-dinlangquer .pageflip-container-col-8 {
    height: 216px;
}

.pageflip-dinlangquer .pageflip-container-col-6 {
    height: 154px;
}

.pageflip-dinlangquer .pageflip-container-col-6 .booklet .b-arrow div {
    top: 40%;
}

/* Ticket Button */
.ticketlink .arrow-right-box a {
    font-size: 40px;
}

.ticketlink .arrow-right-box div.box-link {
    padding-top: 50px;
    padding-left: 20px;
}

.ticketlink .stage {
    padding-left: 30px;
}

/* Widescreen min-height */
.wide-min-height-250 {
	min-height: 250px;
}

.wide-min-height-275 {
	min-height: 275px;
}

.wide-min-height-300 {
	min-height: 300px;
}

.wide-min-height-325 {
	min-height: 325px;
}

.wide-min-height-350 {
	min-height: 350px;
}

.wide-min-height-375 {
	min-height: 375px;
}

.wide-min-height-400 {
	min-height: 400px;
}

.wide-min-height-450 {
	min-height: 450px;
}

.wide-min-height-500 {
	min-height: 500px;
}

.wide-min-height-550 {
	min-height: 550px;
}

.wide-min-height-600 {
	min-height: 600px;
}

.wide-min-height-625 {
	min-height: 625px;
}

.wide-min-height-650 {
	min-height: 650px;
}

/* SquareBox */
.col-2 .squarebox {
	min-height: 212px;
}

.col-4 .squarebox {
	min-height: 470px;
}

.col-3 .squarebox {
	min-height: 337px;
}

.col-6 .squarebox,
.col-6 .next-to-squarebox img {
	min-height: 728px;
}

.col-6 .next-to-squarebox .textimage-img {
	width: 728px;
}

.col-8 .next-to-squarebox {
	height: 470px;
	overflow: hidden;
}

.col-9 .next-to-squarebox{
	height: 337px;
}

/* ========================================================
   Dynamic Tempates
   ======================================================== */

/* Gallery */
.gallery-thumb {
    margin-right: 20px;
    margin-bottom: 20px;
}

.gallery-thumb-small {
    margin-right: 12px;
    margin-bottom: 12px;
}

.col-highlight .gallery-thumb,
.col-highlight .gallery-thumb-small{
    margin-bottom: 19px;
    margin-right: 19px;
}

/* Raster */
.col-12 .gallery-thumb:nth-of-type(6n) {
	margin-right: 20px;
}

.col-12 .gallery-thumb:nth-of-type(9n) {
	margin-right: 0;
}

.col-8 .gallery-thumb:nth-of-type(4n),
.col-9 .gallery-thumb:nth-of-type(4n) {
	margin-right: 20px;
}

.col-9 .gallery-thumb:nth-of-type(6n),
.col-8 .gallery-thumb:nth-of-type(6n) {
	margin-right: 0;
}

/* Press Photos */
.pressphoto-item {
    margin-right: 10px;
}

/* Press Releases */
.pressreleases-item {
    width: 19.5%;
    min-height: 280px;
    margin: 1.2% 0 0 1.2%;
}

/* Press Dates */
.pressdate-time,
.pressdate-headline-time {
    width: 13%;
    padding-right: 1%;
    padding-left: 1%;
}

.pressdate-title,
.pressdate-headline-info {
    width: 53%;
    padding-right: 2%;
}

.pressdate-headline-location,
.pressdate-location {
    width: 30%;
    padding-left: 0;
}

.pressdate-description {
    clear: both;
    width: 53%;
    padding-left: 15%;
}

/* Sitemap */
#content .sitemap ul.sitemap-level1 li a {
    margin-bottom: 2px;
}

#content .sitemap ul.sitemap-level2 li a {
    margin-bottom: 0;
}

/* ePDF */
.epdf-step1-active {
    width: 38.5%;
}

.epdf-step1-inactive {
    width: 40%;
}

.epdf-step2-active {
    width: 39%;
}

.epdf-step2-inactive {
    width: 38.5%;
}

/* Neuheitenreport */
.newsreport-search-form fieldset {
    width: 90%;
}

#content .newsreport-search .newsreport-search-button {
    width: 8%;
}

/* Website Guide */
.websiteguide--mobilewrapper {
	flex: 1 0 auto;
}

.websiteguide__label {
	text-align: center;
	display: inline-block;
	flex: 0 1 calc(100% / 5);
}

div.websiteguide__select {
	flex: 0 1 calc(100% / 3);
}

#content button.websiteguide__button {
	flex: 0 1 20%;
}

/* ========================================================
   Event Database
   ======================================================== */

/* Event Database Grid */
.row .eventdb-main .row {
    margin-left: -23.25px;
    margin-right: -23.25px;
}

.row .eventdb-main .row [class*="col-"] {
    padding-right: 11.625px;
    padding-left: 23.25px;
}

/* Event Pictures (FS4) */
.eventdb-highlights-picture,
.eventdb-subevent-picture {
    max-width: 212px;
}

.eventdb-search-result-img,
.eventdb-speakers-details-img {
    max-width: 337px;
}

/* Event Speakers Details */
.eventdb-speakers-details-img .icon-gallery-zoom:before {
    right: 15px;
}

/* Speaker list (with image) */
#content ul.speakerlistimg-list > li {
	margin-right: 0;
}

#content .col-2.speakerlistimg-item .image-grow .textimage-img {
	max-height: 213px;
}

#content .col-3.speakerlistimg-item .image-grow .textimage-img {
	max-height: 342px;
}

#content .col-4.speakerlistimg-item .image-grow .textimage-img {
	max-height: 473px;
}

/* ========================================================
   Event Calendar
   ======================================================== */

/* Datepicker */
#content .tab-navigation .calendar .ui-datepicker-multi-3 .ui-datepicker-group {
    width: 16.5%;
    margin: 0 8%;
}

#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-buttonpane {
    margin-left: 44%;
}

#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-prev span.ui-icon,
#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-next span.ui-icon{
    width: 30px;
    height: 26px;
    margin-left: -15px;
    margin-top: -10px;
}

#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-prev {
    left: -161px;
}

#content .tab-navigation .calendar .ui-datepicker .ui-datepicker-next {
    right: -161px;
}

/* Calendar Entries */
.cal-item {
    min-height: 360px;
}

.cal-img {
    width: 324px;
    height: 162px;
}

/* ========================================================
   Newsletter
   ======================================================== */

/* Universal Messenger Forms */
.pi-form {
	padding-left: 20px;
}

/* ========================================================
   GSA Search
   ======================================================== */

/* Tiles */
.tile .tile-search-icon {
    min-height: 139px;
    margin: 24px auto;
}

.nav-level2-search .tile-search-icon {
    min-height: 84px
}

#content .gsa-content-search-input,
#content #gsa-content-search-select,
#content .gsa-content-search-option {
    height: 40px;
}

/* Suggestions */
.tile .tile-search-content h3 {
    padding: 8px 0.2em 8px 0.4em;
}

/* ========================================================
   External Content
   ======================================================== */

/* -------------------------------------------------------- */
/* BusinessWire */

#content #bwContent,
#content #bwContent .bwOpk {
    width: 1504px;
    max-width: 1504px;
}

/* ========================================================
   Home
   ======================================================== */

/* Page */
.home #nav-main {
    width: 1504px;
}

.header-alternate #nav-main {
	width: 75%;
}

/* Tiles */
.tile,
#tile-1,
#tile-3 {
    margin-right: 10px;
    margin-bottom: 10px;
}

#tiles-section {
    width: 1009px;
}

.tile-single-text {
    width: 240px;
    height: 240px;
}

.tile-single-image {
    width: 242px;
    height: 242px;
}

.tile-double {
    width: 494px;
/* Verkleinert, damit Zoom funktioniert (SMOI-SD000854432)
    height: 242px;*/
   height: 241px;
}

.tile-big {
    width: 494px;
    height: 494px;
    margin-right: 0;
}

/* ========================================================
   Home - Alternativen
   ======================================================== */

/* Doppelkachel oben links, 5 kleine Kacheln, 4 kleine Kacheln rechts (2, dt_s_s")
 * Große Kachel links, 3 kleine Kacheln, große Kachel rechts (3, b_s_b")
 * Große Kachel links, 3 kleine Kacheln, 4 kleine Kacheln rechts (4, b_s_s")
 * Doppelkachel oben links, 7 kleine Kacheln, Doppelkachel unten rechts (5, dt_s_db")
 * Große Kachel links, 5 kleine Kacheln, Doppelkachel unten rechts (6, b_s_db")
 *  */

#tiles-section-left {
	width: 1009px;
}

#tiles-section-right.tiles-dt_s_s,
#tiles-section-right.tiles-b_s_s,
#tiles-section-right.tiles-dt_s_db,
#tiles-section-right.tiles-b_s_db {
	width: 494px;
}

#tiles-section-left.tiles-b_s_b .tile-big,
#tiles-section-left.tiles-b_s_s .tile-big,
#tiles-section-left.tiles-b_s_db .tile-big {
	margin-right: 10px;
}

#content-home #tiles-section.tiles-section-single {
    width: 1512px;
}

.tiles-section-single.no-double #tile-1 {
	margin-right: 10px;
}

.tiles-section-single.no-double #tile-3 {
	margin-right: 10px;
}

/* Tile Links */
a.tile-text-link,
.tile-counter {
    font-size: 1.914em;
    padding: 0 27.2px 27.2px 27.2px;
}

.tile-1row,
a.tile-1row {
    padding-top: 178px;
}

.tile-2rows,
a.tile-2rows {
    padding-top: 142px;
}

.tile-3rows,
a.tile-3rows {
    padding-top: 107px;
}

.tile-4rows,
a.tile-4rows {
    padding-top: 72px;
}

/* News */
.news {
    width: 1494px;
    height: 87px;
}

.news-content {
    width: 1305px;
}

.news-content-slider {
    height: 64px;
    padding-top: 10px;
}

.news-content-slider li {
    height: 64px;
}

.news-noscript {
    width: 1474px;
}

/* Bühne */
.stage {
	margin-bottom: 10px;
}

/* Bühne Fullsize */
/* Content-width: 1550px */
body.home.stage-fullsize .news {
    box-sizing: border-box;
    width: calc(1.5% + 1.5% + 1550px);
    padding-left: calc(1.5% + 1550px * 0.015);
    padding-right: calc(1.5% + 1550px * 0.015);
    left: 50%;
    transform: translateX(-50%);
}

/* Extend stage height */
body.home.stage-fullsize .stage {
    min-height: 30vw;
}

/* Adjust sections below stage */
.stage-fullsize #content-home #tiles-section.tiles-section-single,
.stage-fullsize #content-home .news {
    top: -80px;
}

/* ========================================================
   Splash Page
   ======================================================== */

/* Tiles */
#tiles-section-double,
#tiles-section-single {
    width: 494px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#content-splashpage .tile-double {
    margin-bottom: 10px;
}

#content-splashpage #tile-1 {
    margin-right: 10px;
}
